#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 3rem;
}

.card {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(3rem);
          backdrop-filter: blur(3rem);
  padding: 10rem;
  border-radius: 5vw;
  -webkit-box-shadow: 0 0 6rem 0 rgba(54, 84, 99, 0.3);
          box-shadow: 0 0 6rem 0 rgba(54, 84, 99, 0.3);
  text-align: center;
}

@media (max-width: 576px) {
  .card {
    padding: 2rem;
  }
}

.card a {
  display: block;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 3rem auto 0;
  padding: 1rem 2rem;
  background-color: rgba(255, 51, 51, 0.9);
  border-radius: 2rem;
  color: #fff;
  -webkit-transition: 0.5s cubic-bezier(0.4, -0.75, 0.75, 1.75);
  transition: 0.5s cubic-bezier(0.4, -0.75, 0.75, 1.75);
}

.card a:hover {
  padding: 1rem 3rem;
  background-color: #ff3333;
}

.background {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.background span {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  border-radius: 100%;
  -webkit-animation: orbAnimation 6s linear infinite, orbColor 6s linear infinite;
          animation: orbAnimation 6s linear infinite, orbColor 6s linear infinite;
}

.background span:nth-child(1) {
  top: 90%;
  left: 32%;
  width: 7.5rem;
  height: 7.5rem;
  background-color: #3480f9;
  opacity: 0.2;
  -webkit-filter: blur(1.05rem);
          filter: blur(1.05rem);
  -webkit-animation-duration: 11.4s;
          animation-duration: 11.4s;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform-origin: 18vw -7vh;
          transform-origin: 18vw -7vh;
}

.background span:nth-child(2) {
  top: 76%;
  left: 71%;
  width: 30rem;
  height: 30rem;
  background-color: #26baae;
  opacity: 0.7;
  -webkit-filter: blur(1.3rem);
          filter: blur(1.3rem);
  -webkit-animation-duration: 14.4s;
          animation-duration: 14.4s;
  -webkit-animation-delay: -8.6s;
          animation-delay: -8.6s;
  -webkit-transform-origin: 4vw -24vh;
          transform-origin: 4vw -24vh;
}

.background span:nth-child(3) {
  top: 89%;
  left: 29%;
  width: 19.5rem;
  height: 19.5rem;
  background-color: #6b22aa;
  opacity: 0.4;
  -webkit-filter: blur(0.7rem);
          filter: blur(0.7rem);
  -webkit-animation-duration: 12.8s;
          animation-duration: 12.8s;
  -webkit-animation-delay: -10.7s;
          animation-delay: -10.7s;
  -webkit-transform-origin: -21vw 14vh;
          transform-origin: -21vw 14vh;
}

.background span:nth-child(4) {
  top: 100%;
  left: 31%;
  width: 42rem;
  height: 42rem;
  background-color: #ff3333;
  opacity: 0.6;
  -webkit-filter: blur(0.65rem);
          filter: blur(0.65rem);
  -webkit-animation-duration: 15.2s;
          animation-duration: 15.2s;
  -webkit-animation-delay: -14.2s;
          animation-delay: -14.2s;
  -webkit-transform-origin: 14vw -24vh;
          transform-origin: 14vw -24vh;
}

.background span:nth-child(5) {
  top: 65%;
  left: 52%;
  width: 18rem;
  height: 18rem;
  background-color: #ec1850;
  opacity: 0.1;
  -webkit-filter: blur(1.05rem);
          filter: blur(1.05rem);
  -webkit-animation-duration: 11.1s;
          animation-duration: 11.1s;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform-origin: 19vw 4vh;
          transform-origin: 19vw 4vh;
}

.background span:nth-child(6) {
  top: 91%;
  left: 92%;
  width: 31.5rem;
  height: 31.5rem;
  background-color: #ec1850;
  opacity: 0.1;
  -webkit-filter: blur(0.6rem);
          filter: blur(0.6rem);
  -webkit-animation-duration: 12.5s;
          animation-duration: 12.5s;
  -webkit-animation-delay: -13.6s;
          animation-delay: -13.6s;
  -webkit-transform-origin: -3vw -16vh;
          transform-origin: -3vw -16vh;
}

.background span:nth-child(7) {
  top: 43%;
  left: 56%;
  width: 39rem;
  height: 39rem;
  background-color: #ec1850;
  opacity: 1;
  -webkit-filter: blur(1.05rem);
          filter: blur(1.05rem);
  -webkit-animation-duration: 13.5s;
          animation-duration: 13.5s;
  -webkit-animation-delay: -14.6s;
          animation-delay: -14.6s;
  -webkit-transform-origin: 1vw 16vh;
          transform-origin: 1vw 16vh;
}

.background span:nth-child(8) {
  top: 76%;
  left: 51%;
  width: 33rem;
  height: 33rem;
  background-color: #3f2574;
  opacity: 0.9;
  -webkit-filter: blur(0.75rem);
          filter: blur(0.75rem);
  -webkit-animation-duration: 15.7s;
          animation-duration: 15.7s;
  -webkit-animation-delay: -4.3s;
          animation-delay: -4.3s;
  -webkit-transform-origin: 13vw -20vh;
          transform-origin: 13vw -20vh;
}

.background span:nth-child(9) {
  top: 100%;
  left: 82%;
  width: 36rem;
  height: 36rem;
  background-color: #ff3333;
  opacity: 0.2;
  -webkit-filter: blur(1.45rem);
          filter: blur(1.45rem);
  -webkit-animation-duration: 10.2s;
          animation-duration: 10.2s;
  -webkit-animation-delay: -6.2s;
          animation-delay: -6.2s;
  -webkit-transform-origin: -3vw 4vh;
          transform-origin: -3vw 4vh;
}

.background span:nth-child(10) {
  top: 2%;
  left: 53%;
  width: 43.5rem;
  height: 43.5rem;
  background-color: #3480f9;
  opacity: 0.6;
  -webkit-filter: blur(0.2rem);
          filter: blur(0.2rem);
  -webkit-animation-duration: 12.4s;
          animation-duration: 12.4s;
  -webkit-animation-delay: -10.2s;
          animation-delay: -10.2s;
  -webkit-transform-origin: 9vw 5vh;
          transform-origin: 9vw 5vh;
}

.background span:nth-child(11) {
  top: 79%;
  left: 73%;
  width: 39rem;
  height: 39rem;
  background-color: #26baae;
  opacity: 0.2;
  -webkit-filter: blur(1.4rem);
          filter: blur(1.4rem);
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: -13.9s;
          animation-delay: -13.9s;
  -webkit-transform-origin: -19vw -12vh;
          transform-origin: -19vw -12vh;
}

.background span:nth-child(12) {
  top: 80%;
  left: 14%;
  width: 10.5rem;
  height: 10.5rem;
  background-color: #3480f9;
  opacity: 0.6;
  -webkit-filter: blur(0.8rem);
          filter: blur(0.8rem);
  -webkit-animation-duration: 13.7s;
          animation-duration: 13.7s;
  -webkit-animation-delay: -15.1s;
          animation-delay: -15.1s;
  -webkit-transform-origin: -22vw -12vh;
          transform-origin: -22vw -12vh;
}

.background span:nth-child(13) {
  top: 25%;
  left: 24%;
  width: 27rem;
  height: 27rem;
  background-color: #ff3333;
  opacity: 0.7;
  -webkit-filter: blur(0.8rem);
          filter: blur(0.8rem);
  -webkit-animation-duration: 12.5s;
          animation-duration: 12.5s;
  -webkit-animation-delay: -13.9s;
          animation-delay: -13.9s;
  -webkit-transform-origin: 3vw 21vh;
          transform-origin: 3vw 21vh;
}

.background span:nth-child(14) {
  top: 16%;
  left: 89%;
  width: 25.5rem;
  height: 25.5rem;
  background-color: #3f2574;
  opacity: 0.4;
  -webkit-filter: blur(1.15rem);
          filter: blur(1.15rem);
  -webkit-animation-duration: 10.9s;
          animation-duration: 10.9s;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform-origin: 19vw -8vh;
          transform-origin: 19vw -8vh;
}

.background span:nth-child(15) {
  top: 100%;
  left: 17%;
  width: 24rem;
  height: 24rem;
  background-color: #ec1850;
  opacity: 0.5;
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem);
  -webkit-animation-duration: 11.7s;
          animation-duration: 11.7s;
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
  -webkit-transform-origin: 1vw 22vh;
          transform-origin: 1vw 22vh;
}

@-webkit-keyframes orbAnimation {
  100% {
    -webkit-transform: translate3d(0, 0, 0.1rem) rotate(360deg);
            transform: translate3d(0, 0, 0.1rem) rotate(360deg);
  }
}

@keyframes orbAnimation {
  100% {
    -webkit-transform: translate3d(0, 0, 0.1rem) rotate(360deg);
            transform: translate3d(0, 0, 0.1rem) rotate(360deg);
  }
}
/*# sourceMappingURL=404.css.map */