#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 3rem;
}

.card {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(3rem);
          backdrop-filter: blur(3rem);
  padding: 10rem;
  border-radius: 5vw;
  box-shadow: 0 0 6rem 0 rgba(54, 84, 99, 0.3);
  text-align: center;
}
@media (max-width: 576px) {
  .card {
    padding: 2rem;
  }
}
.card a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3rem auto 0;
  padding: 1rem 2rem;
  background-color: rgba(255, 51, 51, 0.9);
  border-radius: 2rem;
  color: #fff;
  transition: 0.5s cubic-bezier(0.4, -0.75, 0.75, 1.75);
}
.card a:hover {
  padding: 1rem 3rem;
  background-color: hsl(0, 100%, 60%);
}

.background {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.background span {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  border-radius: 100%;
  animation: orbAnimation 6s linear infinite, orbColor 6s linear infinite;
}
.background span:nth-child(1) {
  top: 14%;
  left: 24%;
  width: 34.5rem;
  height: 34.5rem;
  background-color: hsl(344, 85%, 51%);
  opacity: 0.3;
  filter: blur(1.2rem);
  animation-duration: 11s;
  animation-delay: -8.6s;
  transform-origin: 11vw 15vh;
}
.background span:nth-child(2) {
  top: 61%;
  left: 55%;
  width: 3rem;
  height: 3rem;
  background-color: hsl(272, 67%, 40%);
  opacity: 0.8;
  filter: blur(1.5rem);
  animation-duration: 10.2s;
  animation-delay: -3.3s;
  transform-origin: 9vw 14vh;
}
.background span:nth-child(3) {
  top: 83%;
  left: 15%;
  width: 21rem;
  height: 21rem;
  background-color: hsl(175, 66%, 44%);
  opacity: 0.6;
  filter: blur(0.55rem);
  animation-duration: 15.3s;
  animation-delay: -2.8s;
  transform-origin: 24vw 10vh;
}
.background span:nth-child(4) {
  top: 19%;
  left: 89%;
  width: 6rem;
  height: 6rem;
  background-color: hsl(175, 66%, 44%);
  opacity: 0.7;
  filter: blur(0.05rem);
  animation-duration: 12.9s;
  animation-delay: -11.1s;
  transform-origin: 1vw 18vh;
}
.background span:nth-child(5) {
  top: 66%;
  left: 75%;
  width: 6rem;
  height: 6rem;
  background-color: hsl(272, 67%, 40%);
  opacity: 0.2;
  filter: blur(0.15rem);
  animation-duration: 14.8s;
  animation-delay: -9.9s;
  transform-origin: 14vw -12vh;
}
.background span:nth-child(6) {
  top: 92%;
  left: 90%;
  width: 42rem;
  height: 42rem;
  background-color: hsl(260, 51%, 30%);
  opacity: 0.3;
  filter: blur(1rem);
  animation-duration: 15.8s;
  animation-delay: -11.1s;
  transform-origin: -13vw 9vh;
}
.background span:nth-child(7) {
  top: 78%;
  left: 98%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: hsl(217, 94%, 59%);
  opacity: 0.5;
  filter: blur(0.65rem);
  animation-duration: 13s;
  animation-delay: -7s;
  transform-origin: -1vw -20vh;
}
.background span:nth-child(8) {
  top: 45%;
  left: 48%;
  width: 9rem;
  height: 9rem;
  background-color: hsl(344, 85%, 51%);
  opacity: 1;
  filter: blur(0.4rem);
  animation-duration: 13.8s;
  animation-delay: -1.4s;
  transform-origin: -13vw -16vh;
}
.background span:nth-child(9) {
  top: 94%;
  left: 30%;
  width: 24rem;
  height: 24rem;
  background-color: hsl(0, 100%, 60%);
  opacity: 0.5;
  filter: blur(0.9rem);
  animation-duration: 10.1s;
  animation-delay: -0.5s;
  transform-origin: -14vw -13vh;
}
.background span:nth-child(10) {
  top: 79%;
  left: 2%;
  width: 43.5rem;
  height: 43.5rem;
  background-color: hsl(260, 51%, 30%);
  opacity: 0.6;
  filter: blur(1.4rem);
  animation-duration: 15.2s;
  animation-delay: -3s;
  transform-origin: 15vw 20vh;
}
.background span:nth-child(11) {
  top: 24%;
  left: 47%;
  width: 19.5rem;
  height: 19.5rem;
  background-color: hsl(0, 100%, 60%);
  opacity: 0.6;
  filter: blur(0.05rem);
  animation-duration: 13.9s;
  animation-delay: -5.9s;
  transform-origin: -7vw -13vh;
}
.background span:nth-child(12) {
  top: 10%;
  left: 94%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: hsl(260, 51%, 30%);
  opacity: 0.7;
  filter: blur(0.95rem);
  animation-duration: 12.2s;
  animation-delay: -3.9s;
  transform-origin: -18vw 22vh;
}
.background span:nth-child(13) {
  top: 50%;
  left: 79%;
  width: 16.5rem;
  height: 16.5rem;
  background-color: hsl(260, 51%, 30%);
  opacity: 0.9;
  filter: blur(1rem);
  animation-duration: 16s;
  animation-delay: -8.5s;
  transform-origin: -9vw -13vh;
}
.background span:nth-child(14) {
  top: 8%;
  left: 2%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: hsl(260, 51%, 30%);
  opacity: 0.7;
  filter: blur(1.35rem);
  animation-duration: 11.4s;
  animation-delay: -8.5s;
  transform-origin: 0vw -11vh;
}
.background span:nth-child(15) {
  top: 10%;
  left: 69%;
  width: 12rem;
  height: 12rem;
  background-color: hsl(120, 89%, 41%);
  opacity: 0.3;
  filter: blur(0.65rem);
  animation-duration: 13.3s;
  animation-delay: -11.3s;
  transform-origin: -17vw 22vh;
}

@keyframes orbAnimation {
  100% {
    transform: translate3d(0, 0, 0.1rem) rotate(360deg);
  }
}/*# sourceMappingURL=404.css.map */