$primary-color: hsl(0, 100%, 60%);
$theme-color: hsl(300, 100%, 40%);
// $bg-color: #96959e;
$bg-color: hsl(180, 10%, 90%);
$text-color: hsl(200, 30%, 30%);

$colors: 
    $primary-color, //master protection
    #26bcaf, //farmer's helper
    #ec1650, //clixscale
    #504664, //vod
    #337ff9, //iqtest
    #6921a9, //estore
    #0cc50c;