$theme-color: #b6003d;
$theme-color-2: hsl(210, 100%, 40%);
$theme-color-2: hsl(200, 50%, 50%);
$bg-color: hsl(240%, 88%, 6%);
$bg-color: #fff;
$text-color: hsl(221, 15%, 22%);
$button-color: rgba(lighten($bg-color, 60%), .1);
$button-color: rgba($theme-color, .9);
$stroke-color: rgba($text-color, .2);

$main-width: 111rem;