@import '_variables';
@import '_mixins';

.hero{
    height: 70vh;
    padding: 2rem;
    @include medium{
        height: auto;
        min-height: auto;
    }
    @include small{
        height: 80vh;
    }
    *{
        font-weight: 300;
    }
    h2{
        @include small{
            margin-bottom: 0.5rem;
        }
    }
    .container{
        display: flex;
        justify-content: center;
        @include small{
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }     
    .text{
        > *{
            margin-bottom: 1.6rem;
        }        
    }
    .contact{
        a{
            //font-weight: 500;
            transition: .2s ease;
            &:hover{
                color: $primary-color
            }
        }
        span{
            @include small{
                display: none;
            }
        }
    }
}

.social-links{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    @include small{
        justify-content: center;
    }
    li{
        position: relative;
        // @include size(1.4em);
        width: 2rem;
        margin-right: 2.5rem;
        font-weight: 700;
        cursor: pointer;
        transition: .2s ease;
        opacity: .8;       
        &:last-child{
            margin: 0;
        }
        &:hover{
            opacity: 1;
        }
        &:not(.cv-link){
            filter: saturate(0);     
            &:hover{            
                filter: saturate(1);
            }        
        }
        img{
            @include centerVH;
        }
    }
    .cv-link{
        color: $text-color;
        &:hover{
            color: $primary-color;
        }
    }
}

$img-s: 14rem;

.hero-scenes_wrap{
    position: relative;
    @include size($img-s);
    margin-right: 3rem;
    @include small{
        margin: 0 auto 1rem;
    }
    .centered{
        @include centerVH;
        &:first-child{
            z-index: 3;
            @include size($img-s - 1rem);
        }
        &:last-child{
            z-index: 1;
            @include size($img-s - .5rem);
            span{
                @include size($img-s - .5rem);
                background-color: rgba(#000, 0.2);
                filter: blur(5px);
            }
        }
        
    }
    .figure_wrap{
        z-index: 2;
    }
    figure{
        overflow: hidden;
        @include size($img-s);
        // background-color: rgb(5, 27, 122);
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include small{
            margin: auto;
        }
    }
    span{
        border-radius: 50%;
    }
}