@import '_variables';
@import '_mixins';


.top-btn{
    position: fixed;right: 2rem;bottom: 2rem;z-index: 2;
    @include size(3rem);
    background-color: rgba($text-color, .5);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s ease;
    opacity: 0;
    transition-delay: 0s;
    &.show{
        opacity: 1;
        transition-delay: 2s;
    }
    &:before, &:after{
        content: '';
        position: absolute;
        top: 1.2rem;
        transform-origin: center;
        @include size(1.2rem, .3rem);
        border-radius: 1rem;
        background-color: #fff;
    }
    &:before{
        left: .5rem;
        transform: rotate(-45deg);
    }
    &:after{
        right: .5rem;
        transform: rotate(45deg);
    }
    // &:hover{
    //     @include size(3.2rem);
    //     background-color: rgba($text-color, .7);
    // }
}
// .states_wrap{
//     position: fixed;
//     z-index: 100;
//     display: flex;
//     align-items: center;
//     width: 100%;
//     height: 2rem;
//     padding: 0.5rem;
//     transition: .5s ease;
//     @include small{
//         bottom: 0;
//         justify-content: center;
//         height: 3rem;
//         background-color: #fff;
//         box-shadow: 0 -5px 20px rgba(#000, 0.1);
//         .dark &{
//             background-color: $text-color;
//         }
//     }
// }
// .state_toggle{
//     // position: absolute;
//     // top: 1rem;left: 1rem;z-index: 1;
//     @include size(2rem);
//     margin-right: 0.5rem;
//     background-color: #000;
//     border-radius: 50%;
//     cursor: pointer;
//     &:last-child{
//         margin: 0;
//     }
//     .dark &{
//         background-color: #fff;
//     }
//     @include small{
//         top: initial;
//         bottom: 1rem; 
//     }
// }

header{
    top: -100%;
    @include small{
        justify-content: space-between;
    }
}

body{
    transition: background .25s ease-in-out;
    &.dark{
        background-color: darken($text-color, 20%);
        color: #fff;
    }
}

section{
    scroll-snap-align: start;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40rem;
    &:nth-child(odd){
        background-color: #f1f1f1;
    }
    @include medium{
        height: auto; 
        min-height: auto; 
    }
    .container{
        position: relative;
        width: 100%;
        max-width: 120rem;
        margin: 0 auto;
        @include large{
            width: 100%;
        } 
    }
}
.title{
    margin-bottom: 3rem;
    font-weight: 500;
    @include small{
        // text-align: center;
    }
}

////

.hero{
    // height: 70vh;
    // min-height: 50rem;
    padding: 2rem;
    @include medium{
        height: auto;
        min-height: auto;
    }
    @include small{
        // height: 80vh;
    }
    h1{
        // margin-bottom: 1rem;
        font-weight: 300;
        line-height: 1;
        @include small{
            font-weight: 500;
        }
    }
    h2{
        font-weight: 300;
        @include small{
            margin-bottom: 0.5rem;
            font-weight: 500;
        }
    }
    h5{
        font-weight: 300;
        @include small{
            // font-size: 1.4rem; 
            font-weight: 400;
        }
    }
    .container{
        display: flex;
        justify-content: center;align-items: center;
        @include small{
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    .text{
        margin: 4rem 0;
        @include medium{
            flex: 1;
        }    
    }
    .title{
        margin: 0;
    }
    .contact{
        @include small{
            line-height: 1.5;
        }
        a{
            //font-weight: 500;
            transition: .2s ease;
            &:hover{
                color: $primary-color
            }
        }
        span{
            @include small{
                display: none;
            }
        }
    }
}

.hero-menu{
    display: flex;
    align-items: center;
    // gap: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    @include small{
        margin-top: 3rem;
        justify-content: center;
        justify-content: space-evenly;
        justify-content:space-between;
    }
    li{
        font-size: 1.8rem;
        font-weight: 300;
        cursor: pointer;
        a{
            padding: .5rem 1rem;
            font-weight: 500;
            color: $theme-color;
            text-decoration: none;
            background-color: rgba($theme-color, 0);
            border-radius: .2rem;
            transition: .2s ease;
            &:hover{
                background-color: rgba($theme-color, .2);
                // color: $primary-color;
                // color: #fff;
                text-decoration: none;
                &:focus{
                    outline: 0;
                    border: 0;
                }
            }
        }

        @include small{            
            font-weight: 600;
        }
    } 
}


$img-s: 21rem;

.hero-scenes_wrap{
    position: relative;
    @include size($img-s);
    margin-right: 5rem;
    @include small{
        margin: 0 auto 3rem;
    }
    .centered{
        @include centerVH;
        &:first-child{
            z-index: 3;
            @include size($img-s - 1rem);
        }
        &:last-child{
            z-index: 1;
            @include size($img-s - .5rem);
            span{
                @include size($img-s - .5rem);
                background-color: rgba(nth($colors, 5), 0.8);
                filter: blur(8px);
            }
        }
        
    }
    .figure_wrap{
        z-index: 2;
    }
    figure{
        overflow: hidden;
        @include size($img-s);
        // background-color: rgb(5, 27, 122);
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include small{
            margin: auto;
        }
    }
    span{
        border-radius: 50%;
    }
}

// .h_wrap{
//     line-height: 1;
// }

.work_sec{    
    padding: 7rem 5rem 5rem;
    @include small{
        padding: 4rem 2rem;
    }
}

.sec_title{
    margin-bottom: 10rem;
    text-align: center;
    @include small{
        margin-bottom: 4rem;
    }
}

// .work_wrap{
//     margin: 0 auto 10rem;
//     padding-bottom: 10rem;
//     border-bottom: 2px solid rgba($text-color, .2);
//     text-align: center;
//     &:last-of-type{
//         padding-bottom: 0;
//         border: 0;
//     }
//     .work-name{
//         margin-bottom: 4rem;
//         font-weight: 500;
//     }
//     .project-main{
//         position: relative;
//     }
//     .work-image{
//         max-width: 100rem;
//         min-width: 40rem;
//         // aspect-ratio: 16 / 9;
//         margin: auto;
//         @include small{
//             max-width: 100%;
//             min-width: 100%;
//         }
//     }
// }

.work_wrap_h{
    display: flex;
    gap: 6rem;
    width: 80%;
    max-width: 120rem;
    margin: 0 auto 20rem;
    @include medium{
        width: 100%;
        gap: 3rem;
    }
    @include small{
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 10rem;
    }
    .work-name{
        margin-bottom: 1rem;
        font-weight: 500;
        margin: 0;
        line-height: 1.2;
        @include small{
            margin-bottom: 2rem;
        }
    }
    .sub-title{
        margin-bottom: 1rem;
        font-weight: 400;
        @include small{
            font-size: 1.5rem;
        }
    }
    .work-image{
        flex: 1;
        height: fit-content;
        // max-width: 50rem;
        // min-width: 40rem;
        // @include small{
        //     max-width: 100%;
        //     min-width: 100%;
        // }
    }
    .text{
        flex: 1;
        margin-top: 20px;
        @include small{
            margin-top: 0;
        }
        p{
            @include small{
                font-size: 1.5rem;
            }
        }
    }
    button{
        margin-top: 2rem;
    }
}

.about_sec{
    padding: 10rem 0;
    @include large{
        padding: 5rem;
    }
    @include small{
        padding: 3rem;
    }
    .container{
        max-width: 80rem;
    }
    .text{
        margin-bottom: 5rem;
    }
    .title{
        margin-bottom: 2rem;
    }
    p{
        position: relative;
        margin-bottom: 1rem;
        line-height: 1.5;
        span{
            font-weight: 600;
            color: darken($text-color, 5%);
        }
    }
}  

.years{
    position: relative;
    &:before{
        content: attr(title);
        // font-size: 4.8rem;
        font-weight: 700;
        color: $primary-color;
    }
}

////

.sec_contact{
    // min-height: 100vh;
    @include small{
        min-height: auto;
        padding: 3rem 0;
    }
    .text{
        margin-bottom: 2rem;
        text-align: center;
    }
    p{
        line-height: 2;
        a{
            &:hover{
                color: $primary-color;
            }
            @include small{
                display: block;
            }
        }
        span{
            @include small{
display: none;            }
        }
    }
    .contact-text{
        font-weight: 700;
    }
}

$card-s: 34rem;

.centered{
    @include centerVH;
    &:first-child{
        z-index: 3;
    }
    &:last-child{
        z-index: 1;
        &:before{
            content: '';
            left: 50%;
            transform:  rotateY(30deg)
                        rotateX(10deg)
                        skew(10deg)
                        translateX(-50%);
        }
        span{
            width: $card-s;
            aspect-ratio: 16 / 9;
            background-color: rgba(#000, .2);
            filter: blur(8px);
        }
    }  
}

.bc_wrap{
    position: relative;
    display: flex;align-items: center;justify-content: center;
    perspective: 1000px;
    transform-style: preserve-3d;
    &:hover{
        .bc{
            transform: translateX(-50%);
        }
    }
}
.bc{
    position: relative;
    transform:  rotateY(30deg)
                rotateX(10deg)
                skew(10deg)
                translateX(-50%);
    left: 50%;
    display: flex;flex-direction: column;align-items: center;justify-content: center;
    width: $card-s;
    padding: 1rem;
    aspect-ratio: 16 / 9;
    margin: auto;
    overflow: hidden;
    border-radius: .4rem;
    background-color: #fff;
    box-shadow: 0 0 .3rem 0 rgba(#000, .3);
    text-align: center;
    transition: .4s cubic-bezier(0.4, -0.2, 0.4, 1.6);
    .bc-image{
        aspect-ratio: 1 / 1;
        height: 100%;
        background-color: #ccc;
    }
    .bc-name_wrap{
        margin-bottom: 1rem;
    }
    .bc-contact{
        display: flex;justify-content: center;
        gap: 1rem;
        p{
            white-space: nowrap;
            &:hover{
                color: $primary-color;
            }
        }
        span{
            position: relative;top: 0.2rem;
            font-weight: 700;
        }
    }
}

//// 

footer{
    padding: 4rem 2rem;
    p{
        text-align: center;
        span{
            text-decoration: underline;
            cursor: pointer;
        }
    } 
}  

// * { background-color: rgba(255,0,0,.2); }
// * * { background-color: rgba(0,255,0,.2); }
// * * * { background-color: rgba(0,0,255,.2); }
// * * * * { background-color: rgba(255,0,255,.2); }
// * * * * * { background-color: rgba(0,255,255,.2); }
// * * * * * * { background-color: rgba(255,255,0,.2); }
// * * * * * * * { background-color: rgba(255,0,0,.2); }
// * * * * * * * * { background-color: rgba(0,255,0,.2); }  
// * * * * * * * * * { background-color: rgba(0,0,255,.2); }      