@import '_variables';
@import '_mixins';

#overlay{
    display: none;
    position: fixed;
    top: 0;left: 0;z-index: 999;
    @include size(100%);
    background-color: rgba(#000, .4);
    backdrop-filter: blur(.2rem);
    overflow: auto;
    align-items: center;justify-content: center;
}

.gallery{
    z-index: 1000;
    width: 90%;
    max-width: 80vw;
    flex-grow:1;
    display: flex;align-items: center;justify-content: center;
    @include x-large{
        max-width: 90vw;
    }
    .work-image{
        overflow-y: auto;
        &:hover{
            transform: none;          
        }
        @include small{
            height: auto;
            aspect-ratio: initial;
        }
        .work-link{
            display: none;
        }
    }
    .video_wrap{
        width: 100%;
        aspect-ratio: 16 / 9;
    }
}

.galleryOn{
    overflow: hidden;
    height: 100vh;
}

.close{
    position: absolute;top: -3rem;right: -3rem;
    @include size(2rem);
    background-color: rgba(#fff, .8);
    border-radius: 50%;
    box-shadow: 0 0 2rem 0 rgba(#000, .1);
    &::before,&::after{
        content: '';
        position: absolute;top: 50%;left: 50%;
        transform-origin: center;
        @include size(.2rem, 90%);
        border-radius: .2rem;
        background-color: lighten($text-color, 20%);
    }
}

header{
    position: relative;
    background-color: rgba(#fff, .8);
    margin: 1rem auto 0;
}

.hero{
    // padding: 14rem 4rem 4rem;
    // height: calc(100vh - 10rem);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    @include medium{
        height: auto;
        padding: 2rem 0 0;
        background-image: none !important;
    }
    .container{
        position: relative;z-index: 1;
        width: calc(100% - 4rem);
        max-width: 90rem;
        // padding: 0 5rem;
        height: 100%;
        margin: 5rem auto 0;
        // margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem;
        // border-radius: 2rem;
        padding: 0;
        // background: linear-gradient(135deg, rgba($theme-color-2, .1), $bg-color 70%, rgba($theme-color-2, .1));
        @include medium{
            margin: 0 auto;
            padding: 2rem;
        }
    }

    .project-logo{
        margin: 0 auto;
        width: 10rem;
        @include small{
            margin: 0 auto 0 0;
        }
    }
    .page-title{
        text-align: center;
        padding: 2rem 0 4rem;
        backdrop-filter: blur(.5rem);
        width: 100%; 
        border-bottom: 1px solid rgba($theme-color-2, .2);
        @include medium{
            padding: 1rem 0 2rem;
            // text-align: left;
            // border-bottom: 1px solid rgba($text-color, .2);
            
        }
        @include small{
            text-align: left;
        }
        h2{
            color: $text-color;  
            line-height: 1.2;
            font-weight: 800;
        }
        p{
            font-weight: 400;
            margin-top: 1rem;
        }
    }
    .project-info_wrap{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding: 2rem 0 0;
        gap: 1rem;
        @include small{
            flex-direction: column;
            text-align: left;
            gap: 2rem;
        }
    }
    .project-info-item{
        flex: 1;
        h5{
            color: $theme-color-2;
            font-weight: 800;
        }
        p{
            line-height: 1.4;
        }
    }
}

.pathomatic-logo{
    width: 15rem;
    margin-bottom: 2rem;
}

.sec-work{
    padding-bottom: 10rem;
    .container{
        width: calc(100% - 4rem);
        max-width: 90rem;
        margin: 10rem auto 5rem;
        @include medium{
            margin: auto;
            padding: 4rem 1rem;   
        }
    }
    .uc-text{
        p{
            line-height: 1.4;
            margin-bottom: 1rem; 
            a{
                white-space: nowrap;
            }
        }
        
    }
}

.page-title{
    h3{
        span{
            font-weight: 400;
        }
        @include small{
            line-height: 1.2;
            margin-bottom: 2rem;
        }
    }
    h5{
        margin-top: 1rem;
        font-weight: 300;
        @include small{
            font-weight: 400;
        }
    }
}


.para_wrap{
    position: relative;
    margin-bottom: 8rem;
    // padding-bottom: 5rem;
    border-bottom: 1px solid rgba($theme-color-2, .2);
    &:last-child{
        margin: 0;
        border: 0;
    }
    @include small{
        flex-direction: column;   
        gap: 0rem;
    }
    .video_wrap{
        width: 100%;
    }
    p, li{
        margin-bottom: 1.8rem;
        font-size: 1.6rem;
        line-height: 1.6;
        &:last-child{
            margin-bottom: 0;
        }
        .num-indicator{
            position: relative;
            bottom: 3px;
            margin-left: .5rem;
        }
    }
    h3{
        line-height: 1.2;
    }
    .title{
        margin-bottom: 2rem;
        @include small{
            &:first-child{
                margin-top: 0;
            }
        }
        h2{
            font-weight: 900;
            line-height: 1.2;
        }
        p{
            color: $theme-color-2;
            font-weight: 500;
            margin: 0;
            @include small{
                font-size: 1.4rem;
            }
        }   
        h4{
            margin-bottom: 1rem;
        }
    }
}

.col-2{
    display: flex;
    // align-items: start;
    gap: 8rem;
    @include medium{
        grid-template-columns: 1fr;
    }
    .col{
    display: flex;
    flex-direction: column;
    flex: 1;
        &:first-child{
            .char-image{
                margin-right: auto;
            }
        }
        &:last-child{
            .char-image{
                margin-left: auto;
            }
        }
    }
    .text{
        margin-bottom: 0;
    }
    .char-image{
        width: 10rem;
        margin-top: auto;
    }
    .img-sq{
        width: 20rem;
        height: 20rem;
    }
}

.char-image{
    min-width: 20rem;
    align-self: flex-end;
    @include small{
        display: none;
    }
}

.video-text_wrap{
    margin-bottom: 2rem;
    .video_wrap{
        width: 600px;
        margin: 3rem 0 1rem;
        @include small{
            width: 100%;
        }
    }
}

.vid-caption{
    font-size: 1.2rem;
    font-style: italic;
}

.text{
    // margin-top: 2rem;
    margin-bottom: 4rem;
    h5{
        margin: 1rem 0;
    }
    p{
        a{
            color: lighten($theme-color, 20%);
        }
        b{
            font-weight: 600;
        }
    }
    ul{
        margin-top: 1rem;
    }
    li{        
        margin-bottom: 1rem;
        margin-left: 2rem;
        list-style-type: unset;
        a{
            text-decoration: underline;
            &:hover{
                color: $theme-color;
                text-decoration: none;
            }
        }
        &::marker{
            font-weight: bold;
            font-size: 120%;
        }
    } 
}

.video_wrap{
    position: relative;
    aspect-ratio: 16 / 9;
    width: 800px;
    @include small{
        width: 100%;
    }
    video{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: 0;
        top: 0;left: 0;
    }
}

blockquote{
    // display: inline;
    width: fit-content;
    padding: 0.4rem 1rem;
    // background-color: lighten($theme-color-2, 10%);
    font-size: 1.6rem;
    border-left: 0.4rem solid $theme-color-2;
    padding-left: 2rem;
}

.branding{
    p{
        margin-bottom: 2rem;
    }
    figure{
        padding: 3rem 4rem;
        width: 25rem;
        box-shadow: 0 0.2rem .5rem 0 rgba(#000, .2), 0 0 3rem rgba(#000, .1);

    }
}

.nav-icon{
    @include medium{
        order: 2;
        margin-left: 3rem;
    }
}

footer{
    background-color: rgba($bg-color, 0.4);
    backdrop-filter: blur(10px);
    transition: .2s ease-out;
    border-radius: 3rem;
    box-shadow: 0 0 20px 0 rgba($text-color, .2);
    @include centerH;
    // position: fixed;
    bottom: 2rem;
    width: fit-content;
    padding: 2rem 4rem;
    @include small{
        width: calc(100% - 2rem);
        bottom: 1rem;
        .work-nav{
            width: 100%;
            justify-content: space-between;
        }
    }
    .work-nav{
        gap: 4rem;
    }
}

.work-nav{
    display: flex;
    gap: 2rem;
    header &{
        margin-left: auto;
        padding-left: 4rem;
    }
    @include small{
        padding: 0;       
    }
    > div{
        position: relative;
        display: flex;align-items: center;
        font-size: 1.4rem;
        transition: .3s ease;
        color: $theme-color-2;
        font-weight: 600;
        cursor: pointer; 
        white-space: nowrap;
        &:last-child{
            @include medium{
                // margin: 0 2.5rem;
            }
            @include small{
                // margin: 0 0 0 2.5rem;
            }
        }
        span{
            position: relative;
        }
        a{
            position: absolute;top: 0;left: 0;z-index: 1;
            @include size(100%); 
        }
    }
    span:not(.nav-arrow){
        @include medium{
            font-size: 1.4rem;
        }
    }    
}

.nav-prev,
.nav-next{
    &:hover{
        span{
            color: $theme-color;
            transition: .2s ease;
            &:before,&:after{
                background-color: $theme-color;
                transition: .2s ease;
            }
        }
    }
}
.nav-arrow{
    transition: .2s ease;

    &:before,&:after{
        content: '';
        position: absolute;
        @include size(.2rem, .8rem);
        background-color: $theme-color-2;
        border-radius: .2rem;
        @include small{
            height: 1rem;
        }
    }
    &:before{
        top: -0.15rem;
    }
    &:after{
        bottom: -0.15rem;
    }
    .nav-prev &{
        margin-right: 1rem;
        &:before{
            transform: rotate(-45deg);
        }
        &:after{
            transform: rotate(45deg);
        }
    }
    .nav-next &{
        margin-left: 1rem;
        &:after{
            transform: rotate(-45deg);
        }
        &:before{
            transform: rotate(45deg);
        }
    }
    a{
        position: relative;z-index: 1;
        display: block;
        @include size(100%);
    }
}

////

.work-text{
    margin-bottom: 10rem;
}

.case_image{
    padding: 2rem 0;
    display: flex;
    gap: 2rem;
    .captions{
        margin-top: 2rem;
        font-size: 1.6rem;
        text-align: center;
    }
}

.work-image_wrap{
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
    @include small{
        flex-direction: column;
        gap: 2rem;
    }
    .work-image,
    .video_wrap{
        aspect-ratio: 16/9;
    }
}

.work-images{
    // width: fit-content;
    margin: 6rem auto 8rem;
    @include large{
        max-width: 60rem;
    }
    p{
        margin-top: 1rem;
        font-size: 1rem;
        text-align: center;
    }
    .captions{
        margin-top: 2rem;
        font-size: 1.4rem;
        @include small{
        }
    }
}

.image-text_wrap{
    // flex: 0 30%;
    margin-bottom: 8rem;
    text-align: center;
    p{
        margin-top: 1rem;
    }
}

.work-image{
    aspect-ratio: 16/9;
    height: fit-content;
}

.roll-image{
    aspect-ratio: 4 / .6;
}

.ux-image{
    margin-top: 2rem;
}

.work-image-title{
    margin-bottom: 2rem;
    h5{
        margin-bottom: 2rem;
    }
    .sub-title{
        margin: 2rem 0 1rem;
    }
}

.brands_wrap{
    margin-bottom: 5rem;
}
.brand-logo{
    width: 20rem;
}

.brand-title{
    margin-bottom: 1rem;
    font-weight: 500;
}

.scrollTop{
    position: fixed;
    bottom: 2rem;right: 2rem;
}

.num-indicator{
    background-color: $theme-color-2;
    border-radius: 50%;
    width: 2rem;height: 2rem;
    color: #fff;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.work-image-1{
    .num-indicator{
        position: absolute;
    }
    .num-1{
        top: 42%;
        left: 19%;
    }
    .num-2{
        top: 95%;
        left: 19%;
    }
    .num-3{
        top: 50%;
        left: 50%;
    }
}

.highlight {
    position: relative;
    /* Ripple Effect */
    &::before {
      content: '';      
      @include centerVH;
      width: 120%;
      height: 120%;
      border-radius: 50%;      
      box-shadow: 0 0 0 2px $theme-color-2, 0 0 10px 0 rgba($text-color, .5);
      animation: ripple 1s ease-in;
    }
    
  }
  
  @keyframes ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }
    50% {
      width: 120%;
      height: 120%;
      opacity: 1;
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }

  .section-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    padding: 5rem;
    border-radius: 2rem;
    background: linear-gradient(135deg, rgba($theme-color-2, .1), $bg-color 70%, rgba($theme-color-2, .1));
  }

.proto_wrap{
    padding: 0 1rem;
    .container{
        position: relative;
        max-width: 100rem;
        width: calc(100% - 2rem);
        aspect-ratio: 16 / 8.9;
        margin: 5rem auto 0;
        // border: 2px solid $theme-color-2;
        box-shadow: 0 0 0 2px rgba($theme-color-2, .4), 0 20px 30px -10px rgba($text-color, .2);

        border-radius: 2rem;
        overflow: hidden;
    }
    iframe{
        position: absolute;top: 0;left: 0;
        display: block;
        border: 0;
        outline: 0;
        background: $text-color;
        width: 90rem;
        height: 55rem;
        width: 100%;
        height: calc(100% + 50px);
    }
}