@import '_variables';
@import '_mixins';


$bg-color: hsl(0, 0%, 99%);
:root{
    --mobile-w: 13vw;
    --mobile-h: calc(var(--mobile-w) * 1.8);
    --desktop-w: calc(var(--mobile-h) * 2);
    --desktop-h: calc(var(--mobile-w) * 2.5);

    // --mobile-w-s: 20vw;
    // --mobile-h-s: calc(var(--mobile-w-s) * 1.8);
    // --desktop-w-s: calc(var(--mobile-h-s) * 2);
    // --desktop-h-s: calc(var(--mobile-w-s) * 2.5); 
    
    --aside-w: 40rem;
    @include large{
        --aside-w: 35rem;
    }
    @include medium{
        --mobile-w: 22vw;
        // --mobile-h: calc(var(--mobile-w) * 1.8);
        // --desktop-w: calc(var(--mobile-h) * 2);
        // --desktop-h: calc(var(--mobile-w) * 2.5);
        
        --aside-w: 100%;
    }
}

.work-page{
    // background-color: $bg-color;
    &.galleryOn{
        // cursor: none;
    }
    header{
        // position: sticky;top: 0;left: 0;z-index: 1;
        display: flex;align-items: center;
        width: 100%;
        padding: 1rem 3rem;
        background-color: #fff;
        box-shadow: 0 0 2rem 0 rgba(#000, .1);
        @include medium{
            position: relative;
            position: fixed;z-index: 999;
            margin: 0;
            padding: 1rem;
            background-color: #fff;
            box-shadow: 0 0 2rem 0 rgba(#000, .1);
        }
    }
}

#wrapper{
    height: 100vh;
    @include medium{
        height: auto;
    }
    section{
        height: 100%;
    }
}

.card{
    padding: 2rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 0 2px rgba(#000, .05),
    5px 5px 1rem 0 rgba(#000, .04),
    -5px -5px 2rem 0 #fff,
    inset 2rem 2rem 4rem 0 rgba(#000, .06);
}

.work_sec{
    @include medium{
        flex-direction: column;
    }
}

.logo{
    @include size(9rem, 3rem);    
    background-image: url(/images/ravedico-logo.svg);
    background-size: cover;
    cursor: pointer;
    transition: .2s ease;
    &:hover{
        box-shadow: none;
    }
    a{
        display: flex;align-items: center;justify-content: center;
        @include size(100%);
    }
    // svg{
    //     @include size(80%);
    //     * >{
    //         fill:none;stroke:$primary-color;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
    //     }
    // }
    path{
        fill: $primary-color;
    }
}

.title{
    margin-bottom: 3rem;
    h5{
        font-weight: 300;
    }
}

.text{
    h5{
        margin: 2rem 0 1rem;
        &:first-child{
            margin-top: 0;
        }
    }
    li{        
        margin-bottom: 1rem;
        padding-left: 1rem;
        text-indent: -1rem;
        &:before{
            content: '>';
        }
        a{
            text-decoration: underline;
            &:hover{
                color: $primary-color;
                text-decoration: none;
            }
        }
    } 
}

.work-nav{
    display: flex;
    margin-left: auto;
    > div{
        position: relative;
        transition: .3s ease;        
        &:last-child{
            margin: 0 0 0 2.5rem;
            @include medium{
                margin: 0 2.5rem;
            }
        }
    }
    span:not(.nav-arrow){
        @include medium{
            font-size: 2rem;
        }
    }    
}
[class^="nav-"]{ 
    position: relative;
    display: flex;align-items: center;
    font-size: 1.6rem;
    a{
        position: absolute;top: 0;left: 0;
        @include size(100%); 
        cursor: none;
    }
}

.nav-prev,
.nav-next{
    &:hover{
        .nav-arrow{
            opacity: .3;
            transition: .2s ease;
        }
    }
}
.nav-arrow{
    transition: .2s ease;

    &:before,&:after{
        content: '';
        position: absolute;
        @include size(2px, 1.5rem);
        background-color: $text-color;
        border-radius: 2px;
    }
    &:before{
        top: -0.25rem;
    }
    &:after{
        bottom: -0.25rem;
    }
    .nav-prev &{
        margin-right: 1rem;
        &:before{
            transform: rotate(-45deg);
        }
        &:after{
            transform: rotate(45deg);
        }
    }
    .nav-next &{
        margin-left: 1rem;
        &:after{
            transform: rotate(-45deg);
        }
        &:before{
            transform: rotate(45deg);
        }
    }
    a{
        position: relative;z-index: 1;
        display: block;
        @include size(100%);
    }
}
// .nav-prev{
//     right: 0;
//     &:hover{
//         right: .5rem;
//         @include medium{
//             right: 0;
//         }
//     }
//     .arrow{
//         transform: rotate(180deg);
//     }    
// }
// .nav-next{
//     left: 0;
//     &:hover{
//         left: .5rem;
//         @include medium{
//             left: 0;
//         }
//     }
// }

.ltr{
    direction: ltr;
}

.text_pane{
    position: relative;
    position: fixed;
    @include size(var(--aside-w), 100%);    
    background-color: #fff;
    box-shadow: 5rem 0 6rem 0 rgba(#000, .05);
    
    @include medium{
        position: relative;
        // order: 2;
        // width: 100%;
        box-shadow: 0 2rem 4rem 0 rgba(#000, .1);
    }    
    .container{
        overflow-y: auto;
        direction: rtl;
        padding: 3rem 3rem 5rem;
        width: 100%;
        height: 100%;
        &::-webkit-scrollbar {  
            width: 1rem;
        }
        &::-webkit-scrollbar-track {
            background: #fff;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            background: lighten($text-color, 20%);
            &:hover {
                background: $text-color;
            }
        }
        @include medium{
            position: relative;
            margin-top: 5rem;
            padding: 2rem;
        }
    }
    header{
        width: 100%;
    }
    .title{
        h3{
            margin-bottom: 1rem;
        }
    }
    .text{
        ul{
            margin-bottom: 3rem;
            @include medium{
                margin: 0;
            }
        }
    }
    p{
        margin-bottom: 1rem;
        line-height: 1.3;
    }
}

.work_pane{
    position: relative;
    overflow-y: auto;    
    width: calc(100% - #{var(--aside-w)});
    margin-left: auto;
    // cursor: none;
    &::-webkit-scrollbar {  
        width: 1rem;
    }
    &::-webkit-scrollbar-track {
        background: $bg-color;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background: lighten($text-color, 20%);
        &:hover {
            background: $text-color;
        }
    }
    @include medium{
        width: 100%;
    }
    @include small{
        padding-bottom: 4rem;
    }
}

.work_wrap{
    padding: 8rem 4rem;
    @include medium{
        padding: 2rem 2rem 4rem;           
    }
    // .content{
    //     display: flex;
    //     margin-bottom: 10rem;
    //     &:last-child{
    //         margin: 0;
    //     }
    //     .screen{
    //         &.mobile{
    //             margin-right: 2rem;  
    //         }
    //     }
    // }
    .asset{
        width: 800px;
        @include x-large{
            width: 100%;
        }
    }
}

.work-text{
    // text-align: center;
    margin-bottom: 2rem;
}

.work-title{
    margin-bottom: 4rem;
    @include medium{
        margin-bottom: 2rem;
    }
}

// .work-text{
//     margin-bottom: 2rem;
// }

.desc-text{
    text-align: left;
    p{
        margin-bottom: 1.5rem;
        font-weight: 600;
    }
    li{
        display: flex;
        margin-bottom: 1rem;
        &:before{
            content: '>';
            margin-right: 0.5rem;
        }
    }
}

.screens_wrap{
    position: relative;
    display: flex;align-items: flex-end;
    @include size(100%,auto); 
    + .screens_wrap{
        margin-top: 10rem;
    }
    .screen{
        &.mobile{
            order: 2;
            bottom: -2rem;
            margin-right: 2rem;  
        }
        &.desktop{
            order: 1;
            margin-right: -4rem;
        }
    }
}

.screen{
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    @include medium{
        border-radius: .5rem;
    }
    &.mobile{
        z-index: 2;
        @include size(var(--mobile-w), var(--mobile-h));      
        border-radius: calc(var(--desktop-w) / 60);
        box-shadow: 0 0 0 2px lighten(#000, 80%), 0 0 2rem 0 rgba(#000, .1), 0 3rem 2rem -2rem rgba(#000, .2);
        &:last-child{
            margin: 0;
        }
        @include medium{
            bottom: 0;
            // @include size(var(--mobile-w-s), var(--mobile-h-s));
        }
    } 
    &.desktop{
        z-index: 1;
        @include size(var(--desktop-w), var(--desktop-h));
        border-radius: calc(var(--desktop-w) / 40);
        box-shadow: 0 0 0 2px lighten(#000, 80%), 0 0 2rem 0 rgba(#000, .1), 0 6rem 4rem -6rem rgba(#000, .4);
        @include medium{
            // @include size(var(--desktop-w-s), var(--desktop-h-s));
        }
    }
    .gallery &{
        @include centerVH;
        position: fixed;
        z-index: 1000;
        margin: auto;
        // border-radius: 0;
        box-shadow: 0 6rem 4rem -6rem rgba(#000, .4);
        
        &.mobile{
            @include size(calc(var(--mobile-w) * 1.5),calc(var(--mobile-h) * 1.5));
            @include medium{
                @include size(80%);
                // width: 90%;height: 90%;
            }
        }
        &.desktop{
            @include size(calc(var(--desktop-w) * 1.4),calc(var(--desktop-h) * 1.4));
            @include medium{
                width: calc(100% - 2rem);height: auto;
            }
        }
        .content{
            @include size(100%);
            overflow-y: auto;
            &::-webkit-scrollbar {  
                width: .5rem;
            }
            &::-webkit-scrollbar-track {
                background: darken($bg-color, 10%);
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 1rem;
                background: $primary-color;
            }
        }
    }
}

.brands_wrap{
    display: flex;align-items: center;justify-content: center;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
    max-width: calc(var(--desktop-w) + var(--mobile-w));
    min-width: calc(100% - var(--aside-w));
    // margin: auto;
    @include small{
        flex-direction: column;  
        align-items: start;
        // display: block;   
        
        margin: 0;   
    }
    .brand{
        flex: 1;
        display: flex;align-items: center;justify-content: center;
        height: 15rem;
        // margin-right: 2rem;        
        // &:last-child{
        //     margin: 0;
        // }
        @include small{
            flex: auto;
            height: fit-content;
            // margin: 0 0 2rem;    
        }
    }
    figure{
        width: 15rem;  
        @include medium{
            display: flex;align-items: center;justify-content: center;       
        }
    }
}

#overlay{
    display: none;
    position: fixed;top: 0;left: 0;z-index: 999;
    @include size(100%);
    background-color: rgba(#000, .8);
    backdrop-filter: blur(3px);
}

.gallery{
    display: flex;align-items: center;justify-content: center;
}

.close{
    position: absolute;top: -3rem;right: -3rem;
    @include size(2rem);
    background-color: rgba(#fff, .8);
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(#000, .1);
    &::before,&::after{
        content: '';
        position: absolute;top: 50%;left: 50%;
        transform-origin: center;
        @include size(2px, 90%);
        border-radius: 2px;
        background-color: lighten($text-color, 20%);
    }
}

////
 
#cursor{
    position: absolute;
    z-index: 9999;
    &::before,&:after{
        content: ''; 
    }
    &.dot{
        &::before,&:after{            
            @include centerVH;
            background-color: $text-color;
            box-shadow: 0 0 0 .5rem #fff, 0 0 2rem 0 rgba($text-color, .9);
            border-radius: 50%;
            pointer-events: none;
            transition: .4s cubic-bezier(.5, 0.35, 0.5, 1.4);
        }
        &::before{
            @include size(1.2rem);  
        }
        &:after{
            @include size(1.2rem);
        } 
    }
    &.cursorOpen{
        filter: drop-shadow(0 0 10px rgba($primary-color, .5));
        mix-blend-mode: difference;
        &::before,&::after{
            border-radius: .5rem;           
            background-color: $primary-color;
            background-color: #fff;
            box-shadow: none;
        }
        &::before{
            @include size(5rem, .5rem); 
        }
        &::after{
            @include size(.5rem, 5rem);        
        }
    }
    // .galleryOn &,
    // &.cursorClose{
    //     transform: rotate(45deg);
    //     cursor: unset; 
    // }
    &.hide{
        display: none;
    }
    &.nav-next{
        &::before,&::after{
            background-color: $primary-color;
        }
        &::before{
            transform: rotate(45deg);
        }
        &:after{
            transform: rotate(-45deg);
        } 
    }
    &.nav-prev{
        &::before,&::after{
            background-color: $primary-color;
        }
        &::before{
            transform: rotate(-45deg);
        }
        &:after{
            transform: rotate(45deg);
        } 
    }
}

.exp-text{
    position: fixed;
    right: -100%;
    bottom: 1rem;
    z-index: 10;
    // width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgba(#fff, .5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 0 1rem 0 rgba(#000, .1);
    border-radius: .4rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    transition: .6s ease-in-out;
    &:before{
        content: '';
        position: absolute;top: 0;left: 0;
        @include size(100%);
        // border: 0 solid $primary-color;
        box-shadow: 0 0 0 0 $primary-color;
        border-radius: .4rem;
        transition: .5s cubic-bezier(1, 0, 0, 5);
        transition-delay: 2s;
        // opacity: 0;
    }
    &.show{
        right: 1rem;
        &::before{
            // border-width: .2rem;
            // opacity: 1;
            box-shadow: 0 0 0 2px $primary-color;

        }
    }
}