:root {
  --mobile-w: 13vw;
  --mobile-h: calc(var(--mobile-w) * 1.8);
  --desktop-w: calc(var(--mobile-h) * 2);
  --desktop-h: calc(var(--mobile-w) * 2.5);
  --aside-w: 40rem;
}

@media (max-width: 1024px) {
  :root {
    --aside-w: 35rem;
  }
}

@media (max-width: 768px) {
  :root {
    --mobile-w: 22vw;
    --aside-w: 100%;
  }
}

.work-page header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 3rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .work-page header {
    position: relative;
    position: fixed;
    z-index: 10;
    margin: 0;
    padding: 1rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  }
}

#wrapper {
  height: 100vh;
}

@media (max-width: 768px) {
  #wrapper {
    height: auto;
  }
}

#wrapper section {
  height: 100%;
}

.card {
  padding: 2rem;
  background-color: #fff;
  border-radius: .4rem;
  -webkit-box-shadow: inset 0 0 0 0.2rem rgba(0, 0, 0, 0.05), 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.04), -0.5rem -0.5rem 2rem 0 #fff, inset 2rem 2rem 4rem 0 rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 0 0 0.2rem rgba(0, 0, 0, 0.05), 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.04), -0.5rem -0.5rem 2rem 0 #fff, inset 2rem 2rem 4rem 0 rgba(0, 0, 0, 0.06);
}

@media (max-width: 768px) {
  .work_sec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logo {
  width: 9rem;
  height: 3rem;
  background-image: url(/images/ravedico-logo2.svg);
  background-size: cover;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.logo:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.logo path {
  fill: #ff3333;
}

.title {
  margin-bottom: 3rem;
}

.title h5 {
  font-weight: 300;
}

.text h5 {
  margin: 2rem 0 1rem;
}

.text h5:first-child {
  margin-top: 0;
}

.text li {
  margin-bottom: 1rem;
  padding-left: 1rem;
  text-indent: -1rem;
}

.text li:before {
  content: '>';
}

.text li a {
  text-decoration: underline;
}

.text li a:hover {
  color: #ff3333;
  text-decoration: none;
}

.work-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.work-nav > div {
  position: relative;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.work-nav > div:last-child {
  margin: 0 0 0 2.5rem;
}

@media (max-width: 768px) {
  .work-nav > div:last-child {
    margin: 0 2.5rem;
  }
}

@media (max-width: 768px) {
  .work-nav span:not(.nav-arrow) {
    font-size: 1.8rem;
  }
}

[class^="nav-"] {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

[class^="nav-"] a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: none;
}

.nav-prev:hover .nav-arrow,
.nav-next:hover .nav-arrow {
  opacity: .3;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.nav-arrow {
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.nav-arrow:before, .nav-arrow:after {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 1.2rem;
  background-color: #365463;
  border-radius: .2rem;
}

.nav-arrow:before {
  top: -0.25rem;
}

.nav-arrow:after {
  bottom: -0.25rem;
}

.nav-prev .nav-arrow {
  margin-right: 1rem;
}

.nav-prev .nav-arrow:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-prev .nav-arrow:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-next .nav-arrow {
  margin-left: 1rem;
}

.nav-next .nav-arrow:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-next .nav-arrow:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-arrow a {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
}

.ltr {
  direction: ltr;
}

.text_pane {
  position: relative;
  position: fixed;
  width: var(--aside-w);
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 5rem 0 6rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5rem 0 6rem 0 rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
  .text_pane {
    position: relative;
    -webkit-box-shadow: 0 2rem 4rem 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2rem 4rem 0 rgba(0, 0, 0, 0.1);
  }
}

.text_pane .container {
  overflow-y: auto;
  direction: rtl;
  padding: 3rem 3rem 5rem;
  width: 100%;
  height: 100%;
}

.text_pane .container::-webkit-scrollbar {
  width: 1rem;
}

.text_pane .container::-webkit-scrollbar-track {
  background: #fff;
}

.text_pane .container::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #598ca6;
}

.text_pane .container::-webkit-scrollbar-thumb:hover {
  background: #365463;
}

@media (max-width: 768px) {
  .text_pane .container {
    position: relative;
    margin-top: 5rem;
    padding: 2rem;
  }
}

.text_pane header {
  width: 100%;
}

.text_pane .title h3 {
  margin-bottom: 1rem;
}

.text_pane .text ul {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .text_pane .text ul {
    margin: 0;
  }
}

.text_pane p {
  margin-bottom: 1rem;
  line-height: 1.3;
}

.work_pane {
  position: relative;
  overflow-y: auto;
  width: calc(100% - var(--aside-w));
  margin-left: auto;
}

.work_pane::-webkit-scrollbar {
  width: 1rem;
}

.work_pane::-webkit-scrollbar-track {
  background: #fcfcfc;
}

.work_pane::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #598ca6;
}

.work_pane::-webkit-scrollbar-thumb:hover {
  background: #365463;
}

@media (max-width: 768px) {
  .work_pane {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .work_pane {
    padding-bottom: 4rem;
  }
}

.work_wrap {
  padding: 8rem 4rem;
}

@media (max-width: 768px) {
  .work_wrap {
    padding: 2rem 2rem 4rem;
  }
}

.work_wrap .asset {
  width: 80rem;
}

@media (max-width: 1400px) {
  .work_wrap .asset {
    width: 100%;
  }
}

.work-text {
  margin-bottom: 2rem;
}

.work-title {
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .work-title {
    margin-bottom: 2rem;
  }
}

.desc-screen_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  margin-bottom: 10rem;
}

.desc-text {
  text-align: left;
}

.desc-text p {
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.desc-text li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.desc-text li:before {
  content: '>';
  margin-right: 0.5rem;
}

.screens_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: auto;
}

.screens_wrap + .screens_wrap {
  margin-top: 10rem;
}

.screens_wrap .screen.mobile {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  bottom: -2rem;
  margin-right: 2rem;
}

.screens_wrap .screen.desktop {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: -4rem;
}

.screen {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

@media (max-width: 768px) {
  .screen {
    border-radius: .5rem;
  }
}

.screen.mobile {
  z-index: 2;
  width: var(--mobile-w);
  height: var(--mobile-h);
  border-radius: calc(var(--desktop-w) / 60);
  -webkit-box-shadow: 0 0 0 0.2rem #cccccc, 0 0 2rem 0 rgba(0, 0, 0, 0.1), 0 3rem 2rem -2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 0.2rem #cccccc, 0 0 2rem 0 rgba(0, 0, 0, 0.1), 0 3rem 2rem -2rem rgba(0, 0, 0, 0.2);
}

.screen.mobile:last-child {
  margin: 0;
}

@media (max-width: 768px) {
  .screen.mobile {
    bottom: 0;
  }
}

.screen.desktop {
  z-index: 1;
  width: var(--desktop-w);
  height: var(--desktop-h);
  border-radius: calc(var(--desktop-w) / 40);
  -webkit-box-shadow: 0 0 0 0.2rem #cccccc, 0 0 2rem 0 rgba(0, 0, 0, 0.1), 0 6rem 4rem -6rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0 0.2rem #cccccc, 0 0 2rem 0 rgba(0, 0, 0, 0.1), 0 6rem 4rem -6rem rgba(0, 0, 0, 0.4);
}

.gallery .screen {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  z-index: 1000;
  margin: auto;
  -webkit-box-shadow: 0 6rem 4rem -6rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 6rem 4rem -6rem rgba(0, 0, 0, 0.4);
}

.gallery .screen.mobile {
  width: calc(var(--mobile-w) * 1.5);
  height: calc(var(--mobile-h) * 1.5);
}

@media (max-width: 576px) {
  .gallery .screen.mobile {
    width: 80%;
    height: 80%;
  }
}

.gallery .screen.desktop {
  width: calc(var(--desktop-w) * 1.4);
  height: calc(var(--desktop-h) * 1.4);
}

@media (max-width: 768px) {
  .gallery .screen.desktop {
    width: calc(100% - 5rem);
    height: calc(100% - 5rem);
    width: calc(100% - 5rem);
    height: auto;
    max-height: calc(100% - 6rem);
  }
}

.gallery .screen .content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.gallery .screen .content::-webkit-scrollbar {
  width: .5rem;
}

.gallery .screen .content::-webkit-scrollbar-track {
  background: #e3e3e3;
}

.gallery .screen .content::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #ff3333;
}

.brands_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  max-width: calc(var(--desktop-w) + var(--mobile-w));
  min-width: calc(100% - var(--aside-w));
}

@media (max-width: 576px) {
  .brands_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 0;
  }
}

.brands_wrap .brand {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15rem;
}

@media (max-width: 576px) {
  .brands_wrap .brand {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.brands_wrap figure {
  width: 15rem;
}

@media (max-width: 768px) {
  .brands_wrap figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(0.3rem);
          backdrop-filter: blur(0.3rem);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close {
  position: absolute;
  top: -3rem;
  right: -3rem;
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
}

.close::before, .close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 0.2rem;
  height: 90%;
  border-radius: .2rem;
  background-color: #598ca6;
}

#cursor {
  position: absolute;
  z-index: 9999;
}

#cursor::before, #cursor:after {
  content: '';
}

#cursor.dot::before, #cursor.dot:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #365463;
  -webkit-box-shadow: 0 0 0 0.5rem #fff, 0 0 2rem 0 rgba(54, 84, 99, 0.9);
          box-shadow: 0 0 0 0.5rem #fff, 0 0 2rem 0 rgba(54, 84, 99, 0.9);
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: 0.4s cubic-bezier(0.5, 0.35, 0.5, 1.4);
  transition: 0.4s cubic-bezier(0.5, 0.35, 0.5, 1.4);
}

#cursor.dot::before {
  width: 1.2rem;
  height: 1.2rem;
}

#cursor.dot:after {
  width: 1.2rem;
  height: 1.2rem;
}

#cursor.cursorOpen {
  -webkit-filter: drop-shadow(0 0 10px rgba(255, 51, 51, 0.5));
          filter: drop-shadow(0 0 10px rgba(255, 51, 51, 0.5));
  mix-blend-mode: difference;
}

#cursor.cursorOpen::before, #cursor.cursorOpen::after {
  border-radius: .5rem;
  background-color: #ff3333;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#cursor.cursorOpen::before {
  width: 5rem;
  height: 0.5rem;
}

#cursor.cursorOpen::after {
  width: 0.5rem;
  height: 5rem;
}

#cursor.hide {
  display: none;
}

#cursor.nav-next::before, #cursor.nav-next::after {
  background-color: #ff3333;
}

#cursor.nav-next::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#cursor.nav-next:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#cursor.nav-prev::before, #cursor.nav-prev::after {
  background-color: #ff3333;
}

#cursor.nav-prev::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#cursor.nav-prev:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.exp-text {
  display: none;
  position: fixed;
  right: -100%;
  bottom: 2rem;
  right: 2rem;
  bottom: -100%;
  z-index: 10;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(54, 84, 99, 0.8);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  border-radius: .4rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  color: #365463;
  color: #fff;
}

.exp-text:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 0 0 #fff;
          box-shadow: 0 0 0 0 #fff;
  border-radius: .4rem;
  -webkit-transition: 0.5s cubic-bezier(1, 0, 0, 5);
  transition: 0.5s cubic-bezier(1, 0, 0, 5);
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.exp-text.show {
  bottom: 2rem;
}

.exp-text.show::before {
  -webkit-box-shadow: 0 0 0 0.2rem #ff3333;
          box-shadow: 0 0 0 0.2rem #ff3333;
  -webkit-box-shadow: 0 0 0 .2rem #fff;
          box-shadow: 0 0 0 .2rem #fff;
}

@media (max-width: 768px) {
  .exp-text {
    display: block;
  }
}
/*# sourceMappingURL=pages.css.map */