@import '_variables';
@import '_mixins';

html {
    scroll-behavior: smooth;
}

#overlay{
    display: none;
    position: fixed;
    top: 0;left: 0;z-index: 999;
    @include size(100%);
    background-color: rgba(#000, .4);
    backdrop-filter: blur(.2rem);
    overflow: auto;
    align-items: center;justify-content: center;
}

.gallery{
    z-index: 1000;
    width: 90%;
    max-width: 80vw;
    flex-grow:1;
    display: flex;align-items: center;justify-content: center;
    @include x-large{
        max-width: 90vw;
    }
    .work-image{
        overflow-y: auto;
        &:hover{
            transform: none;          
        }
        @include small{
            height: auto;
            aspect-ratio: initial;
        }
        .work-link{
            display: none;
        }
    }
    .video_wrap{
        width: 100%;
        aspect-ratio: 16 / 9;
    }
}

.galleryOn{
    overflow: hidden;
    height: 100vh;
}

.close{
    position: absolute;top: -3rem;right: -3rem;
    @include size(2rem);
    background-color: rgba(#fff, .8);
    border-radius: 50%;
    box-shadow: 0 0 2rem 0 rgba(#000, .1);
    &::before,&::after{
        content: '';
        position: absolute;top: 50%;left: 50%;
        transform-origin: center;
        @include size(.2rem, 90%);
        border-radius: .2rem;
        background-color: lighten($text-color, 20%);
    }
}

header{
    @include centerH;
    position: fixed;top: 1rem;
    position: relative;
    // width: 100%;
    // max-width: 100%;
    // background-color: transparent;
    // backdrop-filter: none;
    .nav-menu{
        // display: none;
    }
    .logo{
        // width: 5rem;height: 5rem;
        // background-color: rgba($bg-color, 0.4);
        // backdrop-filter: blur(10px);
        // border-radius: 100%;
        // box-shadow: 0 0 20px 0 rgba($text-color, .2);
        // display: flex;align-items: center;justify-content: center;
    }
}

.hero{
    // padding: 14rem 4rem 4rem;
    // height: calc(100vh - 10rem);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    @include medium{
        height: auto;
        padding: 2rem 0 0;
        background-image: none !important;
    }
    .container{
        position: relative;z-index: 1;
        width: calc(100% - 4rem);
        // max-width: 90rem;
        // padding: 0 5rem;
        height: 100%;
        margin: 5rem auto 0;
        // margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem;
        // border-radius: 2rem;
        padding: 0;
        // background: linear-gradient(135deg, rgba($theme-color-2, .1), $bg-color 70%, rgba($theme-color-2, .1));
        @include medium{
            margin: 0 auto;
            padding: 2rem;
        }
    }

    .project-logo{
        margin: 0 auto;
        width: 10rem;
        @include small{
            margin: 0 auto 0 0;
        }
    }
    .pathomatic-logo{
        width: 15rem;
    }
    .page-title{
        text-align: center;
        padding: 2rem 0 4rem;
        backdrop-filter: blur(.5rem);
        width: 100%; 
        border-bottom: 1px solid rgba($theme-color-2, .2);
        @include medium{
            padding: 1rem 0 2rem;
            // text-align: left;
            // border-bottom: 1px solid rgba($text-color, .2);
            
        }
        @include small{
            text-align: left;
        }
        h2{
            color: $text-color;  
            line-height: 1.2;
            font-weight: 800;
        }
        p{
            font-weight: 400;
            margin-top: 1rem;
        }
    }
    .project-info_wrap{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding: 2rem 0 0;
        gap: 2rem;
        @include small{
            flex-direction: column;
            text-align: left;
        }
    }
    .project-info-item{
        flex: 1;
        h5{
            color: $theme-color-2;
            font-weight: 800;
        }
        p{
            line-height: 1.4;
        }
    }
}

.page-title{
    h3{
        span{
            font-weight: 400;
        }
        @include small{
            line-height: 1.2;
            margin-bottom: 2rem;
        }
    }
    h5{
        margin-top: 1rem;
        font-weight: 300;
        @include small{
            font-weight: 400;
        }
    }
}


.para_wrap{
    position: relative;
    margin-bottom: 8rem;
    // padding-bottom: 5rem;
    border-bottom: 1px solid rgba($theme-color-2, .2);
    &:last-child{
        margin: 0;
        border: 0;
    }
    @include small{
        flex-direction: column;   
        gap: 0rem;
    }
    .video_wrap{
        width: 100%;
    }
    p, li{
        margin-bottom: 1.8rem;
        font-size: 1.6rem;
        line-height: 1.6;
        &:last-child{
            margin-bottom: 0;
        }
    }
    h3{
        line-height: 1.2;
    }
    .title{
        margin-bottom: 2rem;
        @include small{
            &:first-child{
                margin-top: 0;
            }
        }
        h2{
            font-weight: 900;
            line-height: 1.2;
        }
        p{
            color: $theme-color-2;
            font-weight: 500;
            margin: 0;
            @include small{
                font-size: 1.4rem;
            }
        }   
        h4{
            margin-bottom: 1rem;
        }
    }
}

.row{
    display: flex;
    gap: 6rem;
    @include small{
        flex-direction: column;
        gap: 3rem;
    }
    .col{
        display: flex;
        flex-direction: column;
        flex: 1;
        &:first-child{
            .char-image{
                margin-right: auto;
            }
        }
        &:last-child{
            .char-image{
                margin-left: auto;
            }
        }
    }

    .char-image{
        max-width: 30rem;
        margin-top: auto;
    }
    .img-sq{
        aspect-ratio: 1 / 1;
        margin-top: 3rem;
        // width: 20rem;
        // height: 20rem;
    }
    &.col-50{
        > div, > figure, .image-text_wrap{
            flex: 1;
        }
    }
}

// Add specific styling for .col that has a .char-image as its sibling
.row .col:has(+ .char-image),
.row .col:has(~ .char-image) {
    @include small{
        order: 2;
    }
}

.video-text_wrap{
    margin-bottom: 2rem;
    .video_wrap{
        width: 600px;
        margin: 3rem 0 1rem;
        @include small{
            width: 100%;
        }
    }
}

.vid-caption{
    font-size: 1.2rem;
    font-style: italic;
}

.text{
    // margin-top: 2rem;
    margin-bottom: 4rem;
    &:last-child{
        margin-bottom: 0;
    }
    h5{
        margin: 1rem 0;
    }
    p,li{
        a{
            color: lighten($theme-color, 20%);
        }
        b{
            font-weight: 600;
        }
    }
    ul,ol{
        margin-top: 4rem;
        margin-bottom: 2rem;
        ~ul,ol{
            margin-bottom: 2rem;
        }
        &:first-child{
            margin-top: 2rem;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    li{        
        margin-bottom: 1rem;
        margin-left: 2rem;
        list-style-type: unset;
        a{
            text-decoration: underline;
            &:hover{
                color: $theme-color;
                text-decoration: none;
            }
        }
        &::marker{
            font-weight: bold;
            font-size: 120%;
        }
    } 
    blockquote{
        margin-top: 2rem;
    }
}

.video_wrap{
    position: relative;
    aspect-ratio: 16 / 9;
    width: 800px;
    @include small{
        width: 100%;
    }
    video{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: 0;
        top: 0;left: 0;
    }
}

blockquote{
    width: fit-content;
    font-size: 1.8rem;
    font-style: italic;
}

.branding{
    p{
        margin-bottom: 2rem;
    }
    figure{
        padding: 3rem 4rem;
        width: 25rem;
        box-shadow: 0 0.2rem .5rem 0 rgba(#000, .2), 0 0 3rem rgba(#000, .1);

    }
}

.nav-icon{
    @include medium{
        order: 2;
        margin-left: 3rem;
    }
}

footer{
    margin: 5rem auto;
    background-color: rgba($bg-color, 0.4);
    backdrop-filter: blur(10px);
    transition: .2s ease-out;
    border-radius: 3rem;
    box-shadow: 0 0 20px 0 rgba($text-color, .2);
    // @include centerH;
    // position: fixed;
    // bottom: 2rem;
    width: fit-content;
    padding: 2rem 4rem;
    @include small{
        width: calc(100% - 2rem);
        bottom: 1rem;
        .work-nav{
            width: 100%;
            justify-content: space-between;
        }
    }
    .work-nav{
        gap: 4rem;
    }
}

.work-nav{
    display: flex;
    gap: 2rem;
    header &{
        margin-left: auto;
        padding-left: 4rem;
    }
    @include small{
        padding: 0;       
    }
    > div{
        position: relative;
        display: flex;align-items: center;
        font-size: 1.4rem;
        transition: .3s ease;
        color: $theme-color-2;
        font-weight: 600;
        cursor: pointer; 
        white-space: nowrap;
        &:last-child{
            @include medium{
                // margin: 0 2.5rem;
            }
            @include small{
                // margin: 0 0 0 2.5rem;
            }
        }
        span{
            position: relative;
        }
        a{
            position: absolute;top: 0;left: 0;z-index: 1;
            @include size(100%); 
        }
    }
    span:not(.nav-arrow){
        @include medium{
            font-size: 1.4rem;
        }
    }    
}

.nav-prev,
.nav-next{
    &:hover{
        span{
            color: $theme-color;
            transition: .2s ease;
            &:before,&:after{
                background-color: $theme-color;
                transition: .2s ease;
            }
        }
    }
}
.nav-arrow{
    transition: .2s ease;

    &:before,&:after{
        content: '';
        position: absolute;
        @include size(.2rem, .8rem);
        background-color: $theme-color-2;
        border-radius: .2rem;
        @include small{
            height: 1rem;
        }
    }
    &:before{
        top: -0.15rem;
    }
    &:after{
        bottom: -0.15rem;
    }
    .nav-prev &{
        margin-right: 1rem;
        &:before{
            transform: rotate(-45deg);
        }
        &:after{
            transform: rotate(45deg);
        }
    }
    .nav-next &{
        margin-left: 1rem;
        &:after{
            transform: rotate(-45deg);
        }
        &:before{
            transform: rotate(45deg);
        }
    }
    a{
        position: relative;z-index: 1;
        display: block;
        @include size(100%);
    }
}

////

.work-text{
    margin-bottom: 10rem;
}

.case_image{
    padding: 2rem 0;
    display: flex;
    gap: 2rem;
    .captions{
        margin-top: 2rem;
        font-size: 1.6rem;
        text-align: center;
    }
}

.work-image_wrap{
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
    @include small{
        flex-direction: column;
        gap: 2rem;
    }
    .work-image,
    .video_wrap{
        aspect-ratio: 16/9;
    }
}

.work-images{
    // width: fit-content;
    margin: 6rem auto 8rem;
    @include large{
        max-width: 60rem;
    }
    p{
        margin-top: 1rem;
        font-size: 1rem;
        text-align: center;
    }
}
figure{
}
.captions{
    margin-top: 2rem;
    font-size: 1.4rem;
    @include small{
    }
}

.image-text_wrap{
    // flex: 0 30%;
    margin-bottom: 8rem;
    text-align: center;
    p{
        margin-top: 1rem;
    }
}

// .work-image{
//     aspect-ratio: 16/9;
//     height: fit-content;
// }

.roll-image{
    aspect-ratio: 4 / .6;
}

.ux-image{
    margin-top: 2rem;
}

.work-image-title{
    margin-bottom: 2rem;
    h5{
        margin-bottom: 2rem;
    }
    .sub-title{
        margin: 2rem 0 1rem;
    }
}

.brands_wrap{
    margin-bottom: 5rem;
}
.brand-logo{
    width: 20rem;
}

.brand-title{
    margin-bottom: 1rem;
    font-weight: 500;
}

.scrollTop{
    position: fixed;
    bottom: 2rem;right: 2rem;
}

.num-indicator{
    background-color: $theme-color-2;
    border-radius: 50%;
    width: 2rem;height: 2rem;
    color: #fff;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}


.work-image-1{
    .num-indicator{
        position: absolute;
    }
    .num-1{
        top: 37%;
        left: 16%;
    }
    .num-2{
        top: 88%;
        left: 16%;
    }
}

.highlight {
    position: relative;
    /* Ripple Effect */
    &::before {
      content: '';      
      @include centerVH;
      width: 120%;
      height: 120%;
      border-radius: 50%;      
      box-shadow: 0 0 0 2px $theme-color-2, 0 0 10px 0 rgba($text-color, .5);
      animation: ripple 1s ease-in;
    }
    
  }
  
  @keyframes ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }
    50% {
      width: 120%;
      height: 120%;
      opacity: 1;
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }

  .section-frame{
      border-top: 1px solid rgba($theme-color-2, .2);
      background: linear-gradient(180deg, rgba($theme-color-2, .1), rgba($theme-color-2, 0));
      .container{
        width: 100%;
        max-width: $main-width;
        margin: 0 auto;
        padding: 5rem 5rem 10rem;
        @include small{
            padding: 5rem 2rem;
        }
        h1{
            font-weight: 900;
            color: $theme-color-2;
        }
    }
  }

.work-page{
    .nav-icon{
        display: flex;
        position: fixed;
        top: 2rem;right: 2rem;
    }
}

.sec-work{
    max-width: $main-width;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    padding: 0 5rem;
    @include small{
        padding: 0 2rem;
    }
    ul{
        padding-left: 1rem;
        li{
            list-style-type: none;
            text-indent: -2.5rem;
            // line-height: 1.2;
            margin-bottom: 2rem;
            &::before{
                content: '';
                background-image: url(../images/chevron-right.svg);
                background-size: cover;
                margin-right: .5rem;
                font-weight: 900;
                position: relative;
                bottom: -3px;
                display: inline-block;
                width: 1.8rem;
                height: 1.8rem;
            }
        }
    }
    .container{ 
        margin: 0 auto;
        width: 100%;
        height: 100%;
        height: fit-content;
        // padding-bottom: 10rem;
        @include xx-large{
            // padding-left: 10rem;
            // padding-right: 10rem;
        }
    }
    h2,h3{
        font-weight: 900;
    }
    .sec-title{ 
        margin-bottom: 4rem;
        margin-left: -3rem;
        @include small{
            margin: 0 0 4rem;
        }
        p,h2,h3{
            line-height: 1.2;
        }        
        h3{
            display: flex;
            align-items: center;
            gap: 1rem;
            &::before, &::after{
                content: '-';
                font-size: 5rem;
                font-weight: 100;
                color: $theme-color-2;
                @include small{
                    display: none;
                }
            }
        }
    }

    .content{
        position: relative;
        min-height: fit-content;
        padding-bottom: 10rem;
    }

    .row{
        .char-image{
            max-width: 30rem;

        }    

    }
    .char-image{
        width: auto;
        min-width: 20rem;
        align-self: flex-end;
        @include small{
            min-width: initial;
            width: 50vw;
            order: 1;
            margin: auto;
        }
    }
    .work-images{
        margin: 0;
        flex: 2;
        // margin-left: 4rem;
        // margin-bottom: 4rem;
    }
    .text{
        .title{
            margin-bottom: 2rem;
            color: $theme-color-2;
        }
        .num-indicator{
            position: relative;
            bottom: .3rem;
            margin-left: .5rem;
        }
        p{
            margin-bottom: 2rem;
        }
    }
    .work-image{
        // aspect-ratio: 16/10;
        border-radius: 1rem;
        // width: 70rem;
    }
    &.hero{
        // min-height: calc(100vh - 62px);
        padding: 15rem 0; 
        @include small{
            padding: 5rem 0;
        }
        .container{
            height: 100%;
        }
    }
    p.procon{
        margin-bottom: 1rem;
        font-weight: 600;
        &:before{
            margin-right: .8rem;
        }
        ~ li{
            margin-left: 5rem;
        }
    }
    .pro{
        &::before{
            content: '✅';
        }    
    }
    .con{
        &::before{
            content: '❌';
        }    
    }
}

.pre-title{
    font-size: 1.6rem;
    font-weight: 600;
    color: $theme-color-2;
    margin-left: 2.8rem;
    @include small{
        margin: 0;
    }
}

main{
    // overflow-y: scroll;
    // margin: 0 auto;
    
    // width: 100vw;
    
    height: 100vh;
    // scroll-snap-type: y proximity;   
    blockquote{
        margin-top: 2rem;
    }

}

.sidebar-page{
    header{
        display: none;
    }
    .sidebar{
        display: block;
    }
    main{
        padding-left: 20rem;    
    }
}

.sidebar{
display: none;

    position: fixed;
    width: 22rem;
    height: 100%;
    padding: 2rem;
    .container{
        height: 100%;
        padding: 2rem 0;
        border-radius: 2rem;
        box-shadow: 0 0 0 1px $theme-color-2, 0 0 1rem 0 rgba(#000, .1);
    }
    .yr-logo{
        padding: 1rem 2rem;
    }
    .inner-links{
        margin-top: 2rem;
    }
    .inner-link {
        &:hover {
            background-color: rgba($theme-color-2, 0.1);
        }
        a {
            display: block;
            padding: 1rem 2rem;
            color: $text-color;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        &.active {
            a {         
                color: $theme-color-2;
                font-weight: 900;
            }
        }
    }
    header{
        display: none;
    }
}

.img-hover{
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: .3rem;
    transition: .2s ease;
    &-2{
        width: 84rem;
        left: 340px;
        bottom: 115px;
    }
}

.work-image.img-show{
    overflow: visible;
    position: relative;
    &:hover{
        .img-hover{
            opacity: 1;
            transition: .2s ease;
        }
    }
}

.ct-img-interview{
    max-width: 30rem;
}

.hover-text{
    position: absolute;top: 0;left: 0;
}