::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: default;
}

::-webkit-scrollbar-thumb {
  background: default;
  border-radius: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: default;
}

body {
  font-family: "Chakra Petch", sans-serif;
}

p, li {
  font-size: 2.2rem;
}

.hide-desktop {
  display: none;
}
@media (max-width: 576px) {
  .hide-desktop {
    display: block;
  }
}

@media (max-width: 576px) {
  .hide-mobile {
    display: none;
  }
}

header {
  padding: 0.5rem 3rem;
  background: linear-gradient(#000, rgba(51, 255, 85, 0.2));
}
@media (max-width: 576px) {
  header {
    justify-content: space-between;
  }
}
header.dark {
  background-color: #121c21;
  color: #fff;
}
header .logo {
  width: 5rem;
  font-weight: 500;
  color: hsl(130, 100%, 60%);
  cursor: pointer;
}
header .logo:hover {
  color: hsl(280, 100%, 50%);
}
header .menu-item {
  font-weight: 300;
}
header .menu-item:hover {
  color: hsl(130, 100%, 60%);
}
@media (max-width: 576px) {
  header .nav-icon {
    display: none;
  }
}

body {
  transition: background 0.25s ease-in-out;
}
body.dark {
  background-color: #000;
  color: #fff;
}

section {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  section {
    height: auto;
    min-height: auto;
  }
}
section .container {
  position: relative;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  section .container {
    width: 100%;
  }
}

.title {
  margin-bottom: 3rem;
  font-weight: 500;
}

.hero {
  position: relative;
  margin-top: 5rem;
  height: 90vh;
}
@media (max-width: 576px) {
  .hero {
    margin-top: 7rem;
  }
}
.hero h1 {
  margin-bottom: 1rem;
  font-weight: 300;
}
.hero h2 {
  font-weight: 300;
}
@media (max-width: 576px) {
  .hero h2 {
    margin-bottom: 0.5rem;
  }
}
.hero h5 {
  font-weight: 300;
}
.hero .video_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5rem;
}
@media (max-width: 576px) {
  .hero .video_wrap {
    padding: 0;
  }
}
.hero .video_wrap iframe {
  width: 100%;
  height: 100%;
}
.hero .video_wrap:hover .video-link {
  opacity: 1;
}
.hero .video-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-image: url(../play.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
  opacity: 0;
  transition: 0.2s;
  color: #fff;
  text-align: center;
}
.hero .text > * {
  margin-bottom: 1.6rem;
}
@media (max-width: 576px) {
  .hero .contact {
    line-height: 1.5;
  }
}
.hero .contact a {
  transition: 0.2s ease;
  color: hsl(280, 100%, 50%);
}
.hero .contact a:hover {
  color: hsl(280, 100%, 50%);
}
@media (max-width: 576px) {
  .hero .contact span {
    display: none;
  }
}

.hero-menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
@media (max-width: 576px) {
  .hero-menu {
    margin-top: 3rem;
    justify-content: center;
  }
}
.hero-menu li {
  font-size: 1.8rem;
  font-weight: 300;
  cursor: pointer;
}
.hero-menu li:hover {
  color: hsl(130, 100%, 60%);
}
@media (max-width: 576px) {
  .hero-menu li {
    font-weight: 600;
  }
}

.big-text_sec {
  height: 100vh;
}
@media (max-width: 576px) {
  .big-text_sec {
    height: -moz-fit-content;
    height: fit-content;
    padding: 5rem 0;
  }
}
.big-text_sec .big-text {
  font-size: 20rem;
  font-size: 10vw;
  line-height: 0.8;
  text-align: center;
}
.big-text_sec .big-text .mark {
  position: absolute;
  transform: rotate(7deg);
  font-size: 150%;
  font-weight: 700;
}
.big-text_sec .big-text .color {
  color: hsl(130, 100%, 60%);
  font-weight: 700;
}

.about_sec {
  padding: 10rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4392156863);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4392156863);
}
@media (max-width: 1024px) {
  .about_sec {
    padding: 5rem;
  }
}
@media (max-width: 576px) {
  .about_sec {
    padding: 3rem;
  }
}
.about_sec .container {
  max-width: 80rem;
}
.about_sec .text {
  margin-bottom: 5rem;
}
.about_sec .title {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.about_sec p {
  position: relative;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: 200;
}
.about_sec p span {
  font-weight: 900;
  color: hsl(130, 100%, 60%);
}

.sec_contact {
  height: 100vh;
  padding: 5rem 0;
}
@media (max-width: 576px) {
  .sec_contact {
    min-height: auto;
    padding: 3rem;
  }
}
.sec_contact .text {
  margin-bottom: 2rem;
  text-align: center;
}
@media (max-width: 576px) {
  .sec_contact .text {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .sec_contact p {
    margin-bottom: 2rem;
  }
}
.sec_contact p a:hover {
  color: hsl(130, 100%, 60%);
}
@media (max-width: 576px) {
  .sec_contact p a {
    display: block;
    margin-bottom: 0.5rem;
  }
}
.sec_contact .contact-text {
  font-weight: 700;
}
.sec_contact .contact-text span {
  display: initial;
  margin: 0 0.5rem;
}
@media (max-width: 576px) {
  .sec_contact .contact-text span {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */