@media (max-width: 576px) {
  header {
    justify-content: space-between;
  }
}

body {
  transition: background 0.25s ease-in-out;
}
body.dark {
  background-color: #121c21;
  color: #fff;
}

section {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  section {
    height: auto;
    min-height: auto;
  }
}
section .container {
  position: relative;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  section .container {
    width: 100%;
  }
}

.title {
  margin-bottom: 3rem;
  font-weight: 500;
}

.hero {
  position: relative;
  top: 5rem;
  height: 90vh;
}
.hero h1 {
  margin-bottom: 1rem;
  font-weight: 300;
}
.hero h2 {
  font-weight: 300;
}
@media (max-width: 576px) {
  .hero h2 {
    margin-bottom: 0.5rem;
  }
}
.hero h5 {
  font-weight: 300;
}
.hero .video_wrap {
  width: 100%;
  height: 100%;
  padding: 5rem;
}
.hero .video_wrap iframe {
  width: 100%;
  height: 100%;
}
.hero .text > * {
  margin-bottom: 1.6rem;
}
@media (max-width: 576px) {
  .hero .contact {
    line-height: 1.5;
  }
}
.hero .contact a {
  transition: 0.2s ease;
}
.hero .contact a:hover {
  color: hsl(0, 100%, 60%);
}
@media (max-width: 576px) {
  .hero .contact span {
    display: none;
  }
}

.hero-menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
@media (max-width: 576px) {
  .hero-menu {
    margin-top: 3rem;
    justify-content: center;
  }
}
.hero-menu li {
  font-size: 1.8rem;
  font-weight: 300;
  cursor: pointer;
}
.hero-menu li:hover {
  color: hsl(0, 100%, 60%);
}
@media (max-width: 576px) {
  .hero-menu li {
    font-weight: 600;
  }
}

.about_sec {
  padding: 10rem 0;
}
@media (max-width: 1024px) {
  .about_sec {
    padding: 5rem;
  }
}
@media (max-width: 576px) {
  .about_sec {
    padding: 3rem;
  }
}
.about_sec .container {
  max-width: 80rem;
}
.about_sec .text {
  margin-bottom: 5rem;
}
.about_sec .title {
  margin-bottom: 2rem;
}
.about_sec p {
  position: relative;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.about_sec p span {
  font-weight: 600;
  color: #2d4653;
}

.sec_contact {
  min-height: 100vh;
}
@media (max-width: 576px) {
  .sec_contact {
    min-height: auto;
    padding: 3rem 0;
  }
}
.sec_contact .text {
  margin-bottom: 2rem;
  text-align: center;
}
.sec_contact p {
  line-height: 2;
}
.sec_contact p a:hover {
  color: hsl(0, 100%, 60%);
}
.sec_contact .contact-text {
  font-weight: 700;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered:first-child {
  z-index: 3;
}
.centered:last-child {
  z-index: 1;
}
.centered:last-child:before {
  content: "";
  left: 50%;
  transform: rotateY(30deg) rotateX(10deg) skew(10deg) translateX(-50%);
}
.centered:last-child span {
  width: 34rem;
  aspect-ratio: 16/9;
  background-color: rgba(0, 0, 0, 0.2);
  filter: blur(8px);
}

.bc_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.bc_wrap:hover .bc {
  transform: translateX(-50%);
}

.bc {
  position: relative;
  transform: rotateY(30deg) rotateX(10deg) skew(10deg) translateX(-50%);
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 34rem;
  padding: 1rem;
  aspect-ratio: 16/9;
  margin: auto;
  overflow: hidden;
  border-radius: 0.4rem;
  background-color: #fff;
  box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: 0.4s cubic-bezier(0.4, -0.2, 0.4, 1.6);
}
.bc .bc-image {
  aspect-ratio: 1/1;
  height: 100%;
  background-color: #ccc;
}
.bc .bc-name_wrap {
  margin-bottom: 1rem;
}
.bc .bc-contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.bc .bc-contact p {
  white-space: nowrap;
}
.bc .bc-contact p:hover {
  color: hsl(0, 100%, 60%);
}
.bc .bc-contact span {
  position: relative;
  top: 0.2rem;
  font-weight: 700;
}

footer {
  padding: 4rem 2rem;
}
footer p {
  text-align: center;
}
footer p span {
  text-decoration: underline;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */