$primary-color: hsl(0, 100%, 60%);
$theme-color: hsl(202, 84%, 39%);
// $bg-color: #96959e;
$bg-color: hsl(180, 10%, 90%);
$text-color: hsl(200, 30%, 30%);

$colors: 
    hsl(344, 85%, 51%), //clixscale
    hsl(260, 51%, 30%), //vod
    hsl(175, 66%, 44%), //farmer's helper
    $primary-color, //master protection
    hsl(217, 94%, 59%), //iqtest
    hsl(272, 67%, 40%), //estore 
    hsl(120, 89%, 41%);