@import '_variables';
@import '_mixins';

.scroll_wrap{
    @include centerH;
    bottom: 3rem;z-index: 1;
    @include size(3rem,4rem);
}

.scroll{
    position: relative;
    @include centerVH;
    @include size(100%);
    background-color: rgba(#fff,.5);
    backdrop-filter: blur(5px);
    border-radius: 3rem;
    border: 1px solid $text-color;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.7, -2, 0.3, 2.7);
    &:after{
        content: '';
        @include centerH;
        top: 0.5rem;
        @include size(3px, 1rem);
        background-color: $text-color;
        border-radius: 3px;
    }
    &:hover{
        @include size(106%);
    }
} 

.screen{
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 2rem 0 rgba(#000, .1);
    transition: .2s ease;
    &:hover{
        border-radius: 1rem;
        .work-link{
            opacity: 1;
        }
        &:before{
            opacity: 1;
        }
    }
    &:before{
        content: '';
        position: absolute;top: 0;left: 0;
        @include size(100%);
        background-color: rgba(#000, .4);
        backdrop-filter: blur(2px);
        opacity: 0;
        transition: .2s ease;
    }
    a{
        position: absolute;top: 0;left: 0;z-index: 1;
        @include size(100%);
    }
    .work-link{
        @include centerVH;
        font-weight: 500;
        color: #fff;
        opacity: 0;
    }
}