.work-page header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 3rem;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}
@media (max-width: 576px) {
  .work-page header {
    position: relative;
    margin: 0;
    padding: 1rem;
  }
}

#wrapper {
  height: 100vh;
}
@media (max-width: 576px) {
  #wrapper {
    height: auto;
  }
}
#wrapper section {
  height: 100%;
}

.logo {
  width: 2em;
  height: 2em;
  cursor: pointer;
  transition: 0.2s ease;
}
.logo:hover {
  box-shadow: none;
}
.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.logo svg {
  width: 80%;
  height: 80%;
}
.logo path {
  fill: hsl(0, 100%, 60%);
}

.title {
  margin-bottom: 3rem;
}
.title h5 {
  font-weight: 300;
}

.text h5 {
  margin: 2rem 0 1rem;
}
.text h5:first-child {
  margin-top: 0;
}
.text li {
  margin-bottom: 1rem;
  padding-left: 1rem;
  text-indent: -1rem;
}
.text li:before {
  content: ">";
}

.work-nav {
  display: flex;
  margin-left: auto;
}
.work-nav > div {
  position: relative;
  margin-left: 2.5rem;
  transition: 0.3s ease;
}

.nav-arrow {
  position: relative;
}
.nav-arrow:before, .nav-arrow:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 1rem;
  background-color: hsl(200, 30%, 30%);
  border-radius: 2px;
}
.nav-arrow:before {
  top: 0.35rem;
}
.nav-arrow:after {
  bottom: 0.35rem;
}
.nav-prev .nav-arrow {
  margin-right: 1rem;
}
.nav-prev .nav-arrow:before {
  transform: rotate(45deg);
}
.nav-prev .nav-arrow:after {
  transform: rotate(-45deg);
}
.nav-prev .nav-arrow:hover {
  left: 1rem;
}
.nav-next .nav-arrow {
  margin-left: 1rem;
}
.nav-next .nav-arrow:after {
  transform: rotate(45deg);
}
.nav-next .nav-arrow:before {
  transform: rotate(-45deg);
}
.nav-arrow a {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
}

.nav-prev {
  right: 0;
}
.nav-prev:hover {
  right: 0.5rem;
}
.nav-prev .arrow {
  transform: rotate(180deg);
}

.nav-next {
  left: 0;
}
.nav-next:hover {
  left: 0.5rem;
}

.text_pane {
  position: relative;
  width: 40rem;
}
@media (max-width: 576px) {
  .text_pane {
    order: 2;
    width: 100%;
  }
}
.text_pane .container {
  position: absolute;
  width: 100%;
  padding: 3rem;
}
@media (max-width: 576px) {
  .text_pane .container {
    position: relative;
  }
}
.text_pane .title h3 {
  margin-bottom: 1rem;
}
.text_pane .text ul {
  margin-bottom: 3rem;
}
.text_pane p {
  margin-bottom: 1rem;
  line-height: 1.3;
}

.work_pane {
  overflow-x: visible;
  overflow-y: hidden;
  display: flex;
  position: fixed;
  right: 0;
  width: calc(100% - 40rem);
  height: 100%;
  background-color: hsl(180, 10%, 90%);
}
@media (max-width: 576px) {
  .work_pane {
    overflow: visible;
    position: relative;
    order: 1;
    width: 100%;
  }
}
.work_pane .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 576px) {
  .work_pane .container {
    padding: 2rem 1rem;
  }
}

.screens_wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: auto;
  padding: 0 2rem;
}

.screen {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  bottom: 0;
  background-color: #fff;
  box-shadow: 40px 0 20px -40px rgba(0, 0, 0, 0.1), 0 20px 20px -20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .screen {
    border-radius: 0.5rem;
  }
}
.screen.mobile {
  z-index: 2;
  width: 13vw;
  height: 23.4vw;
  bottom: -2rem;
  margin-right: 2rem;
  border-radius: 1rem;
}
@media (max-width: 576px) {
  .screen.mobile {
    bottom: 0;
    width: 20vw;
    height: 36vw;
  }
}
.screen.desktop {
  z-index: 1;
  width: 46.8vw;
  height: 32.5vw;
  margin-left: -4rem;
  border-radius: 2rem;
}
@media (max-width: 576px) {
  .screen.desktop {
    width: 72vw;
    height: 50vw;
  }
}

.slider_wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.slider_wrap div {
  height: 100%;
}

.slider_item {
  position: relative;
  flex: 0 0 100%;
  height: 100%;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_item > * {
  position: absolute;
  top: 0;
  left: 0;
}
.slider_item span {
  z-index: 999;
}/*# sourceMappingURL=pages_old.css.map */