:root {
  --mobile-w: 13vw;
  --mobile-h: calc(var(--mobile-w) * 1.8);
  --desktop-w: calc(var(--mobile-h) * 2);
  --desktop-h: calc(var(--mobile-w) * 2.45);
  --aside-w: 40rem;
}

@media (max-width: 1024px) {
  :root {
    --aside-w: 35rem;
  }
}

@media (max-width: 768px) {
  :root {
    --mobile-w: 22vw;
    --aside-w: 100%;
  }
}

#scrollLine {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  height: .4rem;
  background-color: #ff3333;
  border-radius: .4rem;
  -webkit-transition: 0.3s cubic-bezier(0.4, 0.15, 0.33, 1.3);
  transition: 0.3s cubic-bezier(0.4, 0.15, 0.33, 1.3);
}

.work-page header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 3rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .work-page header {
    position: relative;
    position: fixed;
    z-index: 10;
    margin: 0;
    padding: 1rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  }
}

.work-page .home-link {
  font-weight: 500;
}

.work-page .container {
  max-width: 80rem;
  margin: 5rem auto;
}

.title {
  margin-bottom: 5rem;
}

.title h5 {
  font-weight: 300;
}

.content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  margin-bottom: 5rem;
}

.content .text:last-child {
  margin: 0;
}

.content .title {
  width: 14rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  white-space: nowrap;
}

.content .sub-title {
  margin-bottom: 1rem;
}

.content .sub-title:not(:first-child) {
  margin-top: 3rem;
}

.text li {
  margin-bottom: 1rem;
  padding-left: 1rem;
  text-indent: -1rem;
}

.text li:before {
  content: '>';
}

.text li a {
  text-decoration: underline;
}

.text li a:hover {
  color: #ff3333;
  text-decoration: none;
}

.work-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.work-nav > div {
  position: relative;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.work-nav > div:last-child {
  margin: 0 0 0 2.5rem;
}

@media (max-width: 768px) {
  .work-nav > div:last-child {
    margin: 0 2.5rem;
  }
}

@media (max-width: 768px) {
  .work-nav span:not(.nav-arrow) {
    font-size: 1.8rem;
  }
}

[class^="nav-"] {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

[class^="nav-"] a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: none;
}

.nav-prev:hover .nav-arrow,
.nav-next:hover .nav-arrow {
  opacity: .3;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.nav-arrow {
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.nav-arrow:before, .nav-arrow:after {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 1.2rem;
  background-color: #365463;
  border-radius: .2rem;
}

.nav-arrow:before {
  top: -0.25rem;
}

.nav-arrow:after {
  bottom: -0.25rem;
}

.nav-prev .nav-arrow {
  margin-right: 1rem;
}

.nav-prev .nav-arrow:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-prev .nav-arrow:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-next .nav-arrow {
  margin-left: 1rem;
}

.nav-next .nav-arrow:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-next .nav-arrow:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-arrow a {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
}

.work-text {
  margin-bottom: 10rem;
}

.screen_wrap {
  margin-bottom: 10rem;
}

.screen_wrap .screen {
  width: 50rem;
  height: 32rem;
  -webkit-box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0 3rem rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .screen_wrap .screen {
    width: 100%;
  }
}

.screen-title {
  margin-bottom: 2rem;
}

.screen-title h5 {
  margin-bottom: 2rem;
}

.screen-title .sub-title {
  margin: 2rem 0 1rem;
}
/*# sourceMappingURL=pages2.css.map */