#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 3rem;
}

.card {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(3rem);
          backdrop-filter: blur(3rem);
  padding: 10rem;
  border-radius: 5vw;
  box-shadow: 0 0 6rem 0 rgba(10, 0, 31, 0.3);
  text-align: center;
}
@media (max-width: 576px) {
  .card {
    padding: 2rem;
  }
}
.card a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3rem auto 0;
  padding: 1rem 2rem;
  background-color: rgba(194, 0, 0, 0.9);
  border-radius: 2rem;
  color: #fff;
  transition: 0.5s cubic-bezier(0.4, -0.75, 0.75, 1.75);
}
.card a:hover {
  padding: 1rem 3rem;
  background-color: hsl(0, 100%, 38%);
}

.background {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.background span {
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  border-radius: 100%;
  animation: orbAnimation 6s linear infinite, orbColor 6s linear infinite;
}
.background span:nth-child(1) {
  top: 13%;
  left: 29%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: hsl(272, 67%, 40%);
  opacity: 0.7;
  filter: blur(1.1rem);
  animation-duration: 16s;
  animation-delay: -4.2s;
  transform-origin: -12vw 16vh;
}
.background span:nth-child(2) {
  top: 32%;
  left: 9%;
  width: 9rem;
  height: 9rem;
  background-color: hsl(120, 89%, 41%);
  opacity: 0.1;
  filter: blur(1.2rem);
  animation-duration: 12.4s;
  animation-delay: -10.9s;
  transform-origin: 22vw -5vh;
}
.background span:nth-child(3) {
  top: 59%;
  left: 29%;
  width: 31.5rem;
  height: 31.5rem;
  background-color: hsl(120, 89%, 41%);
  opacity: 0.6;
  filter: blur(1.25rem);
  animation-duration: 11.8s;
  animation-delay: -3.2s;
  transform-origin: 21vw -3vh;
}
.background span:nth-child(4) {
  top: 66%;
  left: 41%;
  width: 9rem;
  height: 9rem;
  background-color: hsl(344, 85%, 51%);
  opacity: 0.1;
  filter: blur(0.5rem);
  animation-duration: 15.8s;
  animation-delay: -5.3s;
  transform-origin: 0vw -8vh;
}
.background span:nth-child(5) {
  top: 15%;
  left: 42%;
  width: 31.5rem;
  height: 31.5rem;
  background-color: hsl(120, 89%, 41%);
  opacity: 0.8;
  filter: blur(0.05rem);
  animation-duration: 13s;
  animation-delay: -0.6s;
  transform-origin: 6vw 20vh;
}
.background span:nth-child(6) {
  top: 11%;
  left: 75%;
  width: 27rem;
  height: 27rem;
  background-color: hsl(272, 67%, 40%);
  opacity: 0.1;
  filter: blur(1.45rem);
  animation-duration: 12.4s;
  animation-delay: -2s;
  transform-origin: -21vw 12vh;
}
.background span:nth-child(7) {
  top: 24%;
  left: 97%;
  width: 6rem;
  height: 6rem;
  background-color: hsl(175, 66%, 44%);
  opacity: 0.2;
  filter: blur(1.25rem);
  animation-duration: 15.1s;
  animation-delay: -6.5s;
  transform-origin: -22vw -14vh;
}
.background span:nth-child(8) {
  top: 98%;
  left: 23%;
  width: 16.5rem;
  height: 16.5rem;
  background-color: hsl(120, 89%, 41%);
  opacity: 1;
  filter: blur(0.6rem);
  animation-duration: 10.1s;
  animation-delay: -11.8s;
  transform-origin: 14vw 13vh;
}
.background span:nth-child(9) {
  top: 28%;
  left: 2%;
  width: 27rem;
  height: 27rem;
  background-color: hsl(217, 94%, 59%);
  opacity: 0.2;
  filter: blur(1.25rem);
  animation-duration: 12.8s;
  animation-delay: -14.9s;
  transform-origin: -1vw 15vh;
}
.background span:nth-child(10) {
  top: 95%;
  left: 14%;
  width: 28.5rem;
  height: 28.5rem;
  background-color: hsl(217, 94%, 59%);
  opacity: 0.7;
  filter: blur(1.2rem);
  animation-duration: 11.8s;
  animation-delay: -12.7s;
  transform-origin: 10vw -17vh;
}
.background span:nth-child(11) {
  top: 43%;
  left: 53%;
  width: 45rem;
  height: 45rem;
  background-color: hsl(0, 100%, 38%);
  opacity: 0.1;
  filter: blur(0.5rem);
  animation-duration: 10.1s;
  animation-delay: -10.9s;
  transform-origin: -20vw -19vh;
}
.background span:nth-child(12) {
  top: 51%;
  left: 32%;
  width: 28.5rem;
  height: 28.5rem;
  background-color: hsl(344, 85%, 51%);
  opacity: 0.1;
  filter: blur(0.8rem);
  animation-duration: 14.5s;
  animation-delay: -6.4s;
  transform-origin: -12vw -18vh;
}
.background span:nth-child(13) {
  top: 70%;
  left: 50%;
  width: 24rem;
  height: 24rem;
  background-color: hsl(120, 89%, 41%);
  opacity: 0.2;
  filter: blur(0.2rem);
  animation-duration: 11.9s;
  animation-delay: -10s;
  transform-origin: 24vw -12vh;
}
.background span:nth-child(14) {
  top: 53%;
  left: 74%;
  width: 9rem;
  height: 9rem;
  background-color: hsl(217, 94%, 59%);
  opacity: 0.7;
  filter: blur(1.2rem);
  animation-duration: 13.6s;
  animation-delay: -13.3s;
  transform-origin: -5vw 1vh;
}
.background span:nth-child(15) {
  top: 30%;
  left: 32%;
  width: 42rem;
  height: 42rem;
  background-color: hsl(0, 100%, 38%);
  opacity: 0.6;
  filter: blur(0.75rem);
  animation-duration: 14.5s;
  animation-delay: -1.7s;
  transform-origin: 7vw 16vh;
}

@keyframes orbAnimation {
  100% {
    transform: translate3d(0, 0, 0.1rem) rotate(360deg);
  }
}/*# sourceMappingURL=404.css.map */